.directions {
  @include adaptive-value("padding-top", 50, 40, 1);
  @include adaptive-value("padding-bottom", 90, 40, 1);

  &__title {
    @include fz48();
    @include adaptive-value("margin-bottom", 90, 40, 1);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;

    @include breakpointsMaxW($bp-container) {
      gap: 20px;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  .directions-item {
    padding: 25px 15px;
    width: 100%;
    height: 290px;
    background-color: var(--color-white);
    border: 2px solid #ccebff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include breakpointsMaxW($bp-768) {
      flex-direction: row;
      height: 95px;
      padding: 20px;
      text-align: left;
    }

    &__img {
      width: 125px;
      height: 125px;
      margin-bottom: 20px;

      @include breakpointsMaxW($bp-768) {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        margin-bottom: 0;
        flex-shrink: 0;
      }

      img {
        @include img(contain);
      }
    }

    &__text {
      line-height: 1.3;
      font-weight: 500;
      text-transform: uppercase;
      color: #0f0f0f;
      @include adaptive-value("font-size", 18, 14, 1);
    }
  }

  &--masters {
    @include adaptive-value("padding-top", 90, 40, 1);
    @include adaptive-value("padding-bottom", 90, 40, 1);

    .directions-item {
      color: #0f0f0f;
      padding-top: 50px;
      padding-left: 15px;
      padding-right: 15px;
      height: 100%;

      @include breakpointsMaxW($bp-768) {
        display: grid;
        grid-template-columns: 55px auto;
        gap: 10px;
      }

      &__img {
        width: 95px;
        height: 95px;
        margin-bottom: 40px;

        @include breakpointsMaxW($bp-768) {
          width: 55px;
          height: 55px;
          margin-bottom: 0;
        }
      }

      &__text {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px;

        @include breakpointsMaxW($bp-768) {
          margin-bottom: 0;
        }
      }

      &__descr {
        font-size: 15px;

        @include breakpointsMaxW($bp-768) {
          grid-column: 1/-1;
        }
      }
    }
  }
}
