.faq {
  @include adaptive-value("padding-top", 50, 40, 1);
  @include adaptive-value("padding-bottom", 50, 40, 1);

  &__title {
    @include fz48();
    @include adaptive-value("margin-bottom", 45, 30, 1);
  }

  .faq-tabs {
    &__top {
      margin-bottom: 35px;
    }

    &__length {
      font-size: 10px;
      line-height: 1;
      font-weight: 500;
      text-transform: uppercase;
      color: #6f6f6f;
      margin-bottom: 20px;
    }

    &__list {
      display: flex;
      align-items: center;

      @include breakpointsMaxW($bp-768) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-right: 16px;

        @include breakpointsMaxW($bp-768) {
          margin-right: 0;
          margin-bottom: 16px;
        }
      }

      @include breakpointsMaxW($bp-768) {
        width: 100%;
      }
    }

    &__btn {
      border: 1px solid #ccd9e4;
      border-radius: 28px;
      font-size: 16px;
      line-height: 1;
      font-weight: 500;
      color: #0f0f0f;
      transition: 300ms ease;
      height: 55px;
      padding: 10px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-right: 70px;

      @include breakpointsMaxW($bp-768) {
        text-align: left;
        padding-left: 45px;
        padding-right: 90px;
        justify-content: flex-start;
      }

      @include breakpointsMaxW($bp-360) {
        padding-right: 65px;
      }

      &::after {
        @include elDef();
        width: 24px;
        height: 24px;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        transition: 250ms ease;

        @include breakpointsMaxW($bp-768) {
          right: 50px;
        }

        @include breakpointsMaxW($bp-360) {
          right: 30px;
        }
      }

      &--regs {
        &::after {
          @include backgroundImage(url("../img/faq-tabs-btn/1.png"), contain);
        }

        &:hover,
        &.active {
          &::after {
            @include backgroundImage(
              url("../img/faq-tabs-btn/1-1.png"),
              contain
            );
          }
        }
      }

      &--regional {
        &::after {
          @include backgroundImage(url("../img/faq-tabs-btn/2.png"), contain);
        }

        &:hover,
        &.active {
          &::after {
            @include backgroundImage(
              url("../img/faq-tabs-btn/2-2.png"),
              contain
            );
          }
        }
      }

      @include breakpointsMaxW($bp-768) {
        width: 100%;
      }

      &:hover,
      &.active {
        color: var(--color-white);
        border-color: var(--color-blue);
        background-color: var(--color-blue);
      }
    }

    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px 34px;

      @include breakpointsMaxW($bp-991) {
        gap: 12px 20px;
      }

      @include breakpointsMaxW($bp-768) {
        grid-template-columns: 1fr;
      }
    }

    &__content {
      display: none;

      &.active {
        display: block;
        animation: opacity-visibility 700ms ease forwards;
      }
    }
  }

  .faq-accordion {
    background-color: #f2f5f7;
    border-radius: 15px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.active {
      .faq-accordion__control {
        color: var(--color-blue);

        &::after {
          color: var(--color-blue);
        }
      }
    }

    &__control {
      padding-top: 10px;
      padding-bottom: 10px;
      @include adaptive-value("padding-left", 35, 10, 1);
      @include adaptive-value("padding-right", 50, 30, 1);
      min-height: 95px;
      height: 100%;
      color: #0f0f0f;
      width: 100%;
      text-align: left;
      @include adaptive-value("font-size", 16, 14, 1);

      &::after {
        right: 25px;
        width: 12px;
        height: 12px;
        color: #343434;

        @include breakpointsMaxW($bp-768) {
          right: 15px;
        }
      }
    }

    &__content {
      @include adaptive-value("font-size", 16, 14, 1);

      a {
        color: var(--color-blue-light);
        border-bottom: 1px solid transparent;
        transition: 200ms ease;

        &:hover {
          border-bottom-color: var(--color-blue-light);
        }
      }

      div {
        padding: 0;
        @include adaptive-value("padding-bottom", 40, 15, 1);
        @include adaptive-value("padding-left", 35, 10, 1);
        @include adaptive-value("padding-right", 35, 10, 1);
      }
    }
  }
}
