.how-accept {
  @include adaptive-value("padding-top", 90, 50, 1);
  @include adaptive-value("padding-bottom", 50, 40, 1);

  &__title {
    @include fz48();
    @include adaptive-value("margin-bottom", 70, 40, 1);
  }

  &__slide {
    box-sizing: border-box;
    width: auto;
  }

  &__slides {
    height: 100%;
  }
}
.accept-card {
  max-width: 315px;
  width: 100%;
  border: 2px solid #dbe5ec;
  border-radius: 15px;
  padding: 45px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 310px;

  @include adaptive-value("padding-left", 25, 13, 1);
  @include adaptive-value("padding-right", 25, 13, 1);
  @include adaptive-value("padding-top", 45, 30, 1);
  @include adaptive-value("padding-bottom", 45, 30, 1);
  @include adaptive-value("height", 310, 270, 1);
  @include adaptive-value("max-width", 315, 230, 1);

  &__date {
    font-weight: 500;
    text-transform: uppercase;
    color: #696969;
    @include adaptive-value("font-size", 14, 11, 1);
    @include adaptive-value("margin-bottom", 15, 10, 1);
  }

  &__link {
    font-weight: 700;
    color: #0f0f0f;
    transition: 250ms ease;
    display: inline-block;

    @include adaptive-value("font-size", 18, 14, 1);
    @include adaptive-value("margin-bottom", 15, 10, 1);

    span {
      padding-right: 18px;
      position: relative;
      z-index: 1;

      &::after {
        @include elDef();
        content: ">";
        width: 12px;
        height: 12px;
        font-size: 18px;
        top: 12%;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        color: var(--color-orange);
        opacity: 0;
        visibility: hidden;
        transition: 300ms ease;
      }
    }

    &:hover {
      color: var(--color-orange);

      span {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__text {
    font-weight: 400;
    color: #0f0f0f;
    @include adaptive-value("font-size", 16, 14, 1);
  }
}
