.news-contacts {
  color: #0f0f0f;
  padding-bottom: 30px;
  @include adaptive-value("padding-top", 70, 30, 1);

  &__inner {
    background-color: var(--color-white);
    border-radius: 10px;
    @include adaptive-value("padding", 40, 1, 1);
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    gap: 100px;
    @include adaptive-value("gap", 100, 1, 1);

    @include breakpointsMaxW($bp-991) {
      gap: 50px;
      padding: 20px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    height: 100%;
  }

  &__link {
    font-size: 16px;
    line-height: 1;
    display: block;
    transition: 200ms ease;

    &:hover {
      color: var(--color-blue);
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include breakpointsMaxW($bp-768) {
        margin-bottom: 10px;
      }
    }

    &--mail {
      color: var(--color-blue);
      border-bottom: 1px solid var(--color-blue);

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .socials__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
