.questions {
  color: #0f0f0f;

  &__wrapper {
    background-color: rgba(77, 214, 203, 0.2);
    padding: 40px 50px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;

    @include adaptive-value("padding-top", 40, 25, 1);
    @include adaptive-value("padding-bottom", 40, 25, 1);
    @include adaptive-value("padding-left", 50, 15, 1);
    @include adaptive-value("padding-right", 50, 15, 1);
    @include adaptive-value("border-radius", 15, 10, 1);

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    line-height: 1.3;
    font-weight: 700;
    @include adaptive-value("font-size", 24, 20, 1);
    margin-bottom: 10px;
  }

  &__text {
    a {
      border-bottom: 1px solid #0f0f0f;
    }
  }

  &__btn {
    font-weight: 600;
    padding: 16px 40px 16px 40px;
    position: relative;
    background-color: var(--color-white);
    border-radius: 36px;
    display: flex;
    align-items: center;
    transition: 200ms ease;
    justify-self: end;

    @include breakpointsMaxW($bp-container) {
      padding: 16px 24px 16px 24px;
    }

    @include breakpointsMaxW($bp-768) {
      justify-self: start;
    }

    @include breakpointsMaxW($bp-576) {
      justify-content: space-between;
      padding: 16px 32px;
      width: 100%;
    }

    span {
      margin-right: 16px;
    }

    svg {
      transition: 200ms ease;
    }

    &:hover {
      background-color: var(--color-blue);
      color: var(--color-white);

      svg {
        path {
          fill: #fff;
          stroke: #fff;
        }
      }
    }

    @include breakpointsMaxW($bp-576) {
      font-size: 14px;
    }
  }
}
