<div class="actions">
  <button class="actions__btn actions__btn--like" type="button">
    <span class="actions__icon">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g opacity="0.4">
          <path
            d="M11 3C9.5 3 8.74531 3.58798 8 4.36344C7.25469 3.58798 6.5 3 5 3C3.5 3 2 3.90967 2 6.63656C2 8 3.5 10.7269 8 13C12.5 10.7269 14 8 14 6.63656C14 3.90967 12.5 3 11 3Z"
            fill="#004077"
          />
        </g>
      </svg>
    </span>

    <span class="actions__count">8</span>
  </button>
  <button class="actions__btn actions__btn--comment" type="button">
    <span class="actions__icon">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g opacity="0.4">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M3.97974 3H12.0203C13.1119 3 14 3.80444 14 4.79318V11C14 11.989 13.1119 12.7934 12.0203 12.7934H8.13934L3.97271 15.4195V12.7932C2.88427 12.7898 2 11.9868 2 11V4.79318C2 3.80444 2.88813 3 3.97974 3ZM4 6H12V7H4V6ZM12 9H4V10H12V9Z"
            fill="#004077"
          />
        </g>
      </svg>
    </span>

    <span class="actions__count">0</span>
  </button>
</div>
