<section class="create-future">
  <div class="container">
    <div class="create-future__wrapper">
      <div class="create-future__preview">
        <picture>
          <source srcset="img/map.webp" type="image/webp" />
          <img loading="lazy" src="img/map.png" class="image" alt="map" />
        </picture>
      </div>
      <div class="create-future__right">
        <h2 class="create-future__title">
          СОЗДАЕМ БУДУЩЕЕ РОДНЫХ ГОРОДОВ СЕГОДНЯ
        </h2>
        <div class="create-future__text">
          <p>
            Грантовый конкурс «Родных городов» — это возможность реализовать в
            родном регионе социальный проект, который действительно нужен.
          </p>
          <p>
            С 2013 года мы поддержали более 900 социальных инициатив в 6
            регионах.
          </p>
        </div>

        <button
          class="create-future__btn"
          data-fancybox
          data-src="https://www.youtube.com/watch?v=XAPfNPIvWkM"
        >
          <span> Смотреть видео </span>

          <svg
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="orange"
              d="M18 3L3 18"
              stroke="#E65907"
              stroke-width="4"
              stroke-linecap="square"
            />
            <path
              class="blue"
              d="M2 0H0V4H2V0ZM19 2H21V0H19V2ZM17 18V20H21V18H17ZM2 4H19V0H2V4ZM17 2V18H21V2H17Z"
              fill="#009AFF"
            />
          </svg>
        </button>
      </div>

      <div class="create-future__mobile">
        <h2 class="create-future__title create-future__title--mobile">
          СОЗДАЕМ БУДУЩЕЕ РОДНЫХ ГОРОДОВ СЕГОДНЯ
        </h2>
        <div class="create-future__preview create-future__preview--mobile">
          <picture>
            <source srcset="img/map.webp" type="image/webp" />
            <img loading="lazy" src="img/map.png" class="image" alt="map" />
          </picture>
        </div>
        <div class="create-future__text create-future__text--mobile">
          <p>
            Грантовый конкурс «Родных городов» — это возможность реализовать в
            родном регионе социальный проект, который действительно нужен.
          </p>
          <p>
            С 2013 года мы поддержали более 900 социальных инициатив в 6
            регионах.
          </p>
        </div>
        <button
          class="create-future__btn create-future__btn--mobile"
          data-fancybox
          data-src="https://www.youtube.com/watch?v=XAPfNPIvWkM"
        >
          <span> Смотреть видео </span>

          <svg
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="orange"
              d="M18 3L3 18"
              stroke="#E65907"
              stroke-width="4"
              stroke-linecap="square"
            />
            <path
              class="blue"
              d="M2 0H0V4H2V0ZM19 2H21V0H19V2ZM17 18V20H21V18H17ZM2 4H19V0H2V4ZM17 2V18H21V2H17Z"
              fill="#009AFF"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
