<section class="directions">
  <div class="container">
    <h2 class="directions__title">Направления турнира</h2>

    <ul class="directions__list">
      <li class="directions-item">
        <div class="directions-item__img">
          <img src="directions/1.gif" alt="directions" />
        </div>
        <span class="directions-item__text">Нефтехимия</span>
      </li>
      <li class="directions-item">
        <div class="directions-item__img">
          <img src="directions/2.gif" alt="directions" />
        </div>
        <span class="directions-item__text">Математика</span>
      </li>
      <li class="directions-item">
        <div class="directions-item__img">
          <img src="directions/3.gif" alt="directions" />
        </div>
        <span class="directions-item__text">Инжиниринг</span>
      </li>
      <li class="directions-item">
        <div class="directions-item__img">
          <img src="directions/4.gif" alt="directions" />
        </div>
        <span class="directions-item__text">Информационные 
          технологии
          в нефтегазовой сфере</span>
      </li>
    </ul>
  </div>
</section>
