<section class="faq">
  <div class="container">
    <h2 class="faq__title">ЧАСТЫЕ ВОПРОСЫ</h2>
    <div class="faq__tabs faq-tabs">
      <div class="faq-tabs__top">
        <ul class="faq-tabs__list">
          <li class="faq-tabs__item">
            <button
              class="faq-tabs__btn active faq-tabs__btn--regs"
              type="button"
            >
              Регистрация и отборочный этап
            </button>
          </li>
          <li class="faq-tabs__item">
            <button class="faq-tabs__btn faq-tabs__btn--regional" type="button">
              Региональный этап
            </button>
          </li>
        </ul>
      </div>

      <div class="faq-tabs__content active">
        <div class="faq-tabs__length"><span>13 </span>вопросов</div>
        <div class="faq-tabs__inner">
          <div class="faq-tabs__col">
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Когда можно зарегистрироваться на турнир «Умножая таланты»?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Регистрация откроется 1 декабря 2022 года.
                    Зарегистрироваться можно до 31 января 2023 года
                    включительно.
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Когда можно зарегистрироваться на турнир «Умножая таланты»?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Инструкция по регистрации доступна по
                    <a
                      href="https://edu.olymponline.ru/signup_talant"
                      target="_blank"
                    >
                      ссылке
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Я из Архангельска/Самары/Абакана/Южно-Сахалинска/ другого
                города. Могу ли я участвовать в турнире?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Участие могут принять школьники из Санкт-Петербурга, Москвы,
                    Тюмени, Ноябрьска, Муравленко, Ханты-Мансийска, Томска,
                    Омска, Оренбурга, а также из поселков Тазовский, Яр- Сале,
                    Мыс Каменный и Новый Порт Ямало-Ненецкого автономного
                    округа. <br />
                    Полный список городов указан в Положении
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Что делать если моей школы не оказалось в регистрационной форме?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Зайдите в чат с технической поддержкой
                    <a
                      href="https://edu.olymponline.ru/signup_talant"
                      target="_blank"
                    >
                      https://edu.olymponline.ru/signup_talant
                    </a>
                    и напишите наименование вашей школы, которую нужно добавить
                    на платформы
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Что делать, если при регистрации я выбрал(-а) неправильную
                школу?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Зайдите в чат с технической поддержкой
                    <a
                      href="https://edu.olymponline.ru/signup_talant"
                      target="_blank"
                    >
                      https://edu.olymponline.ru/signup_talant
                    </a>
                    и напишите наименование правильной школы, в которую вас
                    нужно перевести. Наши специалисты самостоятельно переведут
                    вас в нужную школу
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Участие в конкурсе индивидуальное или командное?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    На первом этапе конкурса участие по каждому из направлений
                    индивидуальное. На дальнейших этапах участие по направлениям
                    “Инжиниринг в нефтегазовой сфере”, “Информационные
                    технологии в нефтегазовой сфере” и “Нефтехимия” —
                    индивидуально-командное, а по направлению “Математика” —
                    индивидуальное.
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Могут ли ученики 7 классов принять участие в турнире?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Турнир «Умножая таланты» проводится для учеников 8-11
                    классов. Ждем вас в следующем году!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tabs__col">
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Могу ли я участвовать сразу в нескольких направлениях Турнира?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Нет, каждый участник может участвовать только в одном
                    направлении (профиле) Турнира.
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Я зарегистрировался(-лась). Что дальше?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    В январе 2023 года начнется онлайн-курс, который будет
                    доступен в личном кабинете. В ходе курса вы узнаете много
                    нового про современные нефтегазовые и цифровые технологии, а
                    также сможете подготовиться к решению заданий Отборочного
                    этапа турнира
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Можно ли посмотреть занятия онлайн-курса в записи?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Да, вы можете посмотреть вебинары с занятий в записи в любое
                    удобное для вас время
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Когда будет проходить отборочный этап (тур)?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Отборочный этап будет проводиться с 2 по 4 февраля 2023 года
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Сколько заданий будет в отборочном этапе?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Количество заданий не более 25 с закрытым и открытым ответом
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Когда будут опубликованы результаты отборочного этапа?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>Не позднее 13 февраля 2023 года</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="faq-tabs__content active">
        <div class="faq-tabs__length"><span>9 </span>вопросов</div>
        <div class="faq-tabs__inner">
          <div class="faq-tabs__col">
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Из скольких участников должна состоять команда на региональном
                этапе?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>Команда должна состоять из трёх участников</p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Нужно ли мне искать команду, если я участвую в Турнире по
                направлению “Математика”?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Нет, не нужно. По направлению “Математика” участие в Турнире
                    индивидуальное
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                От моей школы уже зарегистрирована команда. Могу ли я
                зарегистрировать еще одну?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Да, конечно! От каждой школы может участвовать сколько
                    угодно команд
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Где мне найти команду?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Лучше всего, если это будут одноклассники или ребята из
                    твоей школы или города. Вам будет проще встречаться, чтобы
                    обсуждать задания. Также найти себе команду можно в группе
                    турнира во «ВКонтакте» (
                    <a
                      href="https://vk.com/turnir.rodnyegoroda"
                      target="_blank"
                    >
                      https://vk.com/turnir.rodnyegoroda
                    </a>
                    ) . В конкурсе состязаются команды из трех человек.
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Можно ли проходить образовательный онлайн-курс, если у меня пока
                нет команды?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    У вас точно будет команда. В случае, если до окончания
                    установленного срока участники самостоятельно не сформируют
                    команду, то команда будет сформирована Организаторами по
                    своему усмотрению.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="faq-tabs__col">
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Нас собралось только двое, не можем найти третьего участника в
                команду. Что делать?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Ответ: Вы можете найти себе команду в группе турнира во
                    «ВКонтакте» (
                    <a
                      href="https://vk.com/turnir.rodnyegoroda"
                      target="_blank"
                    >
                      https://vk.com/turnir.rodnyegoroda
                    </a>
                    ) или обратиться к учителям за советом.
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Я учусь в 8 классе. Могу ли я войти в команду старшеклассников и
                участвовать с ними?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    В конкурсе состязаются команды в двух возрастных категориях:
                    младшая (8-9 классы) и старшая (10-11 классы). Участники из
                    разных возрастных категорий объединяться не могут. Вы можете
                    войти в команду своей возрастной категории. Если вы учитесь
                    в 8 классе, то вам можно брать к себе в команду ребят либо
                    из 8, либо из 9 класса.
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Можно ли изменить состав участников команды?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Да, до начала решения заданий регионального этапа можно
                    изменить состав команды, подав мотивированное заявление об
                    изменении состава Участников команды.
                  </p>
                </div>
              </div>
            </div>
            <div class="faq-accordion accordion">
              <button
                class="faq-accordion__control accordion-control"
                type="button"
              >
                Можно ли просить помощи у учителей?
              </button>
              <div class="faq-accordion__content accordion-content">
                <div>
                  <p>
                    Можно! Учителя могут консультировать участников в решении
                    кейсов.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
