<section class="faqs">
  <div class="container">
    <div class="faqs__wrapper">
      <div class="faqs__left">
        <h2 class="faqs__title">ЧАСТЫЕ ВОПРОСЫ</h2>
        <div class="faqs__preview">
          <div class="faqs__circle"></div>
        </div>
      </div>

      <div class="faqs__accordions">
        <div class="faqs-accordion accordion">
          <div class="faqs-accordion__top accordion-control">
            <span class="faqs-accordion__name">
              Что такое социальный проект?
            </span>
          </div>

          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
                nesciunt maxime ut natus eos ducimus velit quis ipsa, quaerat
                vero reiciendis. Odit libero hic temporibus. Temporibus, eaque!
                Quas, reiciendis veritatis!
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
                nesciunt maxime ut natus eos ducimus velit quis ipsa, quaerat
                vero reiciendis. Odit libero hic temporibus. Temporibus, eaque!
                Quas, reiciendis veritatis!
              </p>
            </div>
          </div>
        </div>
        <div class="faqs-accordion accordion">
          <div class="faqs-accordion__top accordion-control">
            <span class="faqs-accordion__name">
              Как отличить проект от основной деятельности организации?
            </span>
          </div>

          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
                nesciunt maxime ut natus eos ducimus velit quis ipsa, quaerat
                vero reiciendis. Odit libero hic temporibus. Temporibus, eaque!
                Quas, reiciendis veritatis!
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
                nesciunt maxime ut natus eos ducimus velit quis ipsa, quaerat
                vero reiciendis. Odit libero hic temporibus. Temporibus, eaque!
                Quas, reiciendis veritatis!
              </p>
            </div>
          </div>
        </div>
        <div class="faqs-accordion accordion">
          <div class="faqs-accordion__top accordion-control">
            <span class="faqs-accordion__name">
              Как правильно сформулировать социальную значимость проекта для
              целевой группы и территории?
            </span>
          </div>

          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
                nesciunt maxime ut natus eos ducimus velit quis ipsa, quaerat
                vero reiciendis. Odit libero hic temporibus. Temporibus, eaque!
                Quas, reiciendis veritatis!
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
                nesciunt maxime ut natus eos ducimus velit quis ipsa, quaerat
                vero reiciendis. Odit libero hic temporibus. Temporibus, eaque!
                Quas, reiciendis veritatis!
              </p>
            </div>
          </div>
        </div>
        <div class="faqs-accordion accordion">
          <div class="faqs-accordion__top accordion-control">
            <span class="faqs-accordion__name">
              Что необходимо писать в разделе «Краткое описание проекта»?
            </span>
          </div>

          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
                nesciunt maxime ut natus eos ducimus velit quis ipsa, quaerat
                vero reiciendis. Odit libero hic temporibus. Temporibus, eaque!
                Quas, reiciendis veritatis!
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
                nesciunt maxime ut natus eos ducimus velit quis ipsa, quaerat
                vero reiciendis. Odit libero hic temporibus. Temporibus, eaque!
                Quas, reiciendis veritatis!
              </p>
            </div>
          </div>
        </div>
        <div class="faqs-accordion accordion">
          <div class="faqs-accordion__top accordion-control">
            <span class="faqs-accordion__name">
              Должны ли результаты проекта быть измеримыми?
            </span>
          </div>

          <div class="faqs-accordion__content accordion-content">
            <div class="faqs-accordion__text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
                nesciunt maxime ut natus eos ducimus velit quis ipsa, quaerat
                vero reiciendis. Odit libero hic temporibus. Temporibus, eaque!
                Quas, reiciendis veritatis!
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis
                nesciunt maxime ut natus eos ducimus velit quis ipsa, quaerat
                vero reiciendis. Odit libero hic temporibus. Temporibus, eaque!
                Quas, reiciendis veritatis!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
