<section class="section-descr section-descr--reverse">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">
        Делаем культуру доступной
      </h2>
      <div class="section-descr__text">
        <p>
          Фестиваль длится неделю, и за это время, помимо конкурсной программы,
          в кинозалах Ханты-Мансийска проходят спецпоказы классиков
          отечественного и зарубежного кино. Режиссёры проводят творческие
          встречи для взрослых и кинолаборатории для детей, где те могут создать
          свою анимацию. В клубе детского и юношеского кино идут ретроспективы
          картин для молодого поколения.
        </p>
        <p>
          В 2022 году на главной сцене состоялся показ рок-оперы «КарамазоВЫ» с
          Анастасией Стоцкой и поэтический вечер «Евгений Онегин» от Дмитрия
          Дюжева и Концертного оркестра Югры. А также финальный концерт детского
          всероссийского литературного конкурса «Читалкин».
        </p>
      </div>
      <div class="section-descr__img card-animation">
        <div class="card-animation__overlay"></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-fire/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-fire/2.jpg"
              alt="kustendorf"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
