<section class="section-descr">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">Сохраняем культурные традиции</h2>
      <div class="section-descr__text">
        <p>
          В жюри фестиваля входят признанные кинорежиссёры, критики и артисты из
          России, Грузии, Аргентины и других стран. В разное время гостями «Духа
          огня» становились такие звезды, как французский актёр Пьер Ришар и
          испанский режиссёр Гонсало Гарсия Пелайо.
        </p>
        <p>
          Участники фестиваля представляют полнометражные и короткометражные
          игровые фильмы, а также ленты длиной не больше 3 минут. Главный приз –
          «Золотая тайга». Выдающимся российским режиссёрам мы вручаем
          специальную награду «За сохранение культурных традиций».
        </p>
      </div>
      <div class="section-descr__img card-animation">
        <div class="card-animation__overlay card-animation__overlay--right"></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-fire/1.webp" type="image/webp" />
            <img loading="lazy" src="img/mediateka-fire/1.jpg" alt="kustendorf" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
