<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <strong>Узнайте, как сделать родной город ещё лучше</strong>
        <p>Подпишитесь на рассылку, и вы ничего не пропустите.</p>
      </div>
      <form class="footer__form form-subscribe">
        <input
          class="form-subscribe__input"
          type="text"
          placeholder="E-mail"
          required
        />
        <button class="form-subscribe__btn btn" type="submit">
          подписаться
        </button>
      </form>
    </div>

    <div class="footer__wrapper">
      <div class="footer__inner">
        <div class="footer__col footer__col--about-program">
          <p class="footer__name">О программе</p>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Медиатека</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Пресс-центр</a>
            </li>
          </ul>
        </div>
        <div class="footer__col footer__col--projects">
          <p class="footer__name">Проекты</p>
          <div class="footer__lists">
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Грантовый конкурс</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#"
                  >Kustendorf Classic, Kustendorf Concert</a
                >
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Мастера</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Математическая прогрессия</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#"
                  >Музыкальная мастерская Ю.Розума</a
                >
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Проекты в Сербии</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Родные музеи</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Умножая таланты</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Форум «Родные города»</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Шторм</a>
              </li>
            </ul>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Проекты грантового конкурса</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#"
                  >Проекты волонтерского конкурса</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__col footer__col--right">
          <div class="footer__block">
            <p class="footer__name">Обучение</p>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Анонсы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Доступные курсы и вебинары</a>
              </li>
            </ul>
          </div>
          <div class="footer__block">
            <p class="footer__name">Полезные материалы</p>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Интервью</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Кейсы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Аналитика</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer__mobile">
          <div class="footer__col">
            <p class="footer__name">О программе</p>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Медиатека</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Пресс-центр</a>
              </li>
            </ul>
          </div>
          <div class="footer__col">
            <p class="footer__name">Обучение</p>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Анонсы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Доступные курсы и вебинары</a>
              </li>
            </ul>
          </div>
          <div class="footer__col">
            <p class="footer__name">Полезные материалы</p>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">Интервью</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Кейсы</a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">Аналитика</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__actions">
        <div class="footer__site">
          <a href="#">Перейти на сайт «Газпром нефти»</a>
        </div>

        <div class="socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a class="socials__link socials__link--vk" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--ok" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--telegram" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--rutube" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__copy">
        © 2022 Программа социальных инвестиций «Родные города»
      </div>
      <a class="footer__policy" href="#">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
