<section class="future">
  <div class="container container--fluid ">
    <div class="future__wrapper">
      <div class="future__preview">
        <img src="./img/future.png" alt="future" />
      </div>
      <div class="future__inner">
        <div class="future__offer">
          <h2 class="future__title">настоящее будущее креативных индустрий</h2>
          <div class="future__text">
            <p>
              26 июня проводим вебинар для креативного бизнеса родных городов. О
              том, как поддерживать и продвигать локальную идентичность,
              рассказывает Юлия Саначина, руководитель тюменского мультицентра
              «Контора пароходства» и фестиваля уличного искусства «Морфология
              улиц».
            </p>
          </div>
          <a class="future__btn btn" href="#">подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>
