<section class="hero">
  <div class="container container--fluid">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">Родные города</h1>
        <div class="hero__text">
          <p>Система сервисов по социальному проектированию.</p>
          <p>
            Предоставляем инструменты для развития и самореализации людям,
            желающим изменять окружающий мир к лучшему.
          </p>
        </div>
        <div class="hero__btns">
          <a class="hero__btn" href="#">
            <span>
              Грантовый конкурс: <br />
              подать заявку
            </span>

            <svg
              width="21"
              height="21"
              viewBox="0 0 21 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="orange"
                d="M18 3L3 18"
                stroke="#E65907"
                stroke-width="4"
                stroke-linecap="square"
              />
              <path
                class="blue"
                d="M2 0H0V4H2V0ZM19 2H21V0H19V2ZM17 18V20H21V18H17ZM2 4H19V0H2V4ZM17 2V18H21V2H17Z"
                fill="#009AFF"
              />
            </svg>
          </a>
          <a class="hero__btn" href="#">
            <span>
              Умножая таланты: <br />
              зарегистрироваться
            </span>

            <svg
              width="21"
              height="21"
              viewBox="0 0 21 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18 3L3 18"
                stroke="#E65907"
                stroke-width="4"
                stroke-linecap="square"
              />
              <path
                d="M2 0H0V4H2V0ZM19 2H21V0H19V2ZM17 18V20H21V18H17ZM2 4H19V0H2V4ZM17 2V18H21V2H17Z"
                fill="#009AFF"
              />
            </svg>
          </a>
          <a class="hero__btn" href="#">
            <span>
              Зарегистрироваться
              <br />
              на «Умножая таланты»
            </span>

            <svg
              width="21"
              height="21"
              viewBox="0 0 21 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18 3L3 18"
                stroke="#E65907"
                stroke-width="4"
                stroke-linecap="square"
              />
              <path
                d="M2 0H0V4H2V0ZM19 2H21V0H19V2ZM17 18V20H21V18H17ZM2 4H19V0H2V4ZM17 2V18H21V2H17Z"
                fill="#009AFF"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="hero__preview">
        <div
          class="hero__img"
          data-fancybox
          data-src="https://www.youtube.com/watch?v=XAPfNPIvWkM"
        >
          <img src="img/hero/img-cover.jpg" alt="" />
          <button
            class="play"
            type="button"
            aria-label="Запустить видео"
          ></button>
        </div>
      </div>

      <div class="hero__btns hero__btns--mobile">
        <a class="hero__btn" href="#">
          <span>
            Грантовый конкурс: <br />
            подать заявку
          </span>

          <svg
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="orange"
              d="M18 3L3 18"
              stroke="#E65907"
              stroke-width="4"
              stroke-linecap="square"
            />
            <path
              class="blue"
              d="M2 0H0V4H2V0ZM19 2H21V0H19V2ZM17 18V20H21V18H17ZM2 4H19V0H2V4ZM17 2V18H21V2H17Z"
              fill="#009AFF"
            />
          </svg>
        </a>
        <a class="hero__btn" href="#">
          <span>
            Умножая таланты: <br />
            зарегистрироваться
          </span>

          <svg
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 3L3 18"
              stroke="#E65907"
              stroke-width="4"
              stroke-linecap="square"
            />
            <path
              d="M2 0H0V4H2V0ZM19 2H21V0H19V2ZM17 18V20H21V18H17ZM2 4H19V0H2V4ZM17 2V18H21V2H17Z"
              fill="#009AFF"
            />
          </svg>
        </a>
        <a class="hero__btn" href="#">
          <span>
            Зарегистрироваться
            <br />
            на «Умножая таланты»
          </span>

          <svg
            width="21"
            height="21"
            viewBox="0 0 21 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18 3L3 18"
              stroke="#E65907"
              stroke-width="4"
              stroke-linecap="square"
            />
            <path
              d="M2 0H0V4H2V0ZM19 2H21V0H19V2ZM17 18V20H21V18H17ZM2 4H19V0H2V4ZM17 2V18H21V2H17Z"
              fill="#009AFF"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
