<section class="hero hero-anim hero--circle-bottom">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">
          Kustendorf <br />
          CLASSIC
        </h1>
        <div class="hero__text">
          <p>
            Фестиваль русской классической музыки <br />
            в Сербии, проводимый в партнерстве <br />
            с Эмиром Кустурице
          </p>
        </div>
      </div>
      <div class="hero__preview">
        <div class="hero__preview-col col-left">
          <picture>
            <source srcset="img/kustendorf/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/8.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/8.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/9.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/9.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
        </div>
        <div class="hero__preview-col col-right">
          <picture>
            <source srcset="img/kustendorf/10.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/10.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/7.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/7.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/7.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/7.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/kustendorf/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/kustendorf/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
