<section class="hero hero-anim">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">МАСТЕРА</h1>
        <div class="hero__text">
          <p>
            Проект развития креативных индустрий: <br />
            исследования, форумы, мастер-классы <br />
            и онлайн-платформа креативных <br />
            предпринимателей
          </p>
        </div>
      </div>
      <div class="hero__preview">
        <div class="hero__preview-col col-left">
          <picture>
            <source srcset="img/mediateka-masters/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
        </div>
        <div class="hero__preview-col col-right">
          <picture>
            <source srcset="img/mediateka-masters/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-masters/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
