<section class="hero hero-anim">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">Нарвал</h1>
        <div class="hero__text">
          <p>
            Экологический проект по изучению <br />
            и сохранению морской экосистемы <br />
            Арктики
          </p>
        </div>
      </div>
      <div class="hero__preview">
        <div class="hero__preview-col col-left">
          <picture>
            <source srcset="img/mediateka-narval/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/8.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/8.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/9.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/9.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
        </div>
        <div class="hero__preview-col col-right">
          <picture>
            <source srcset="img/mediateka-narval/10.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/10.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/7.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/7.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/7.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/7.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-narval/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
