<section class="hero hero-anim hero--circle-bottom">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">Родные музеи</h1>
        <div class="hero__text">
          <p>
            Программа развития городских музеев с целью <br />
            повышения их популярности и трансформации в важный <br />
            элемент креативной индустрии регионов.
          </p>
        </div>
      </div>
      <div class="hero__preview">
        <div class="hero__preview-col col-left">
          <picture>
            <source srcset="img/mediateka-museums/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/11.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/11.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/12.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/12.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/11.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/11.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/12.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/12.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
        </div>
        <div class="hero__preview-col col-right">
          <picture>
            <source srcset="img/mediateka-museums/13.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/13.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/14.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/14.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/15.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/15.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/7.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/7.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/13.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/13.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/14.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/14.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/15.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/15.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/7.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/7.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-museums/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
