<section class="hero hero-anim hero--talents">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">
          Умножая <br />
          таланты
        </h1>
        <div class="hero__text">
          <p>Интеллектуальный турнир для старшеклассников</p>
        </div>
        <div class="hero__btns hero__btns--col-2">
          <a
            class="hero__btn"
            href="https://edu.olymponline.ru/user/invitation"
            target="_blank"
          >
            <span> Зарегистрироваться </span>

            <svg
              width="21"
              height="21"
              viewBox="0 0 21 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18 3L3 18"
                stroke="#E65907"
                stroke-width="4"
                stroke-linecap="square"
              />
              <path
                d="M2 0H0V4H2V0ZM19 2H21V0H19V2ZM17 18V20H21V18H17ZM2 4H19V0H2V4ZM17 2V18H21V2H17Z"
                fill="#009AFF"
              />
            </svg>
          </a>
          <a
            class="hero__btn"
            href="https://edu.olymponline.ru/invite/r3Z5UL"
            target="_blank"
          >
            <span> Участвовать </span>

            <svg
              width="21"
              height="21"
              viewBox="0 0 21 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18 3L3 18"
                stroke="#E65907"
                stroke-width="4"
                stroke-linecap="square"
              />
              <path
                d="M2 0H0V4H2V0ZM19 2H21V0H19V2ZM17 18V20H21V18H17ZM2 4H19V0H2V4ZM17 2V18H21V2H17Z"
                fill="#009AFF"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="hero__preview">
        <div class="hero__preview-col col-left">
          <picture>
            <source srcset="img/mediateka-talents/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/11.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/11.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/12.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/12.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/11.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/11.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/12.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/12.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
        </div>
        <div class="hero__preview-col col-right">
          <picture>
            <source srcset="img/mediateka-talents/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/7.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/7.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/8.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/8.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/9.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/9.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/10.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/10.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/7.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/7.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-talents/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-talents/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
