<section class="hero hero-anim hero--musical">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">
          МУЗЫКАЛЬНАЯ МАСТЕРСКАЯ <br />
          ЮРИЯ РОЗУМА
        </h1>
        <div class="hero__text">
          <p>Региональная программа развития юных музыкантов</p>
        </div>
      </div>
      <div class="hero__preview">
        <div class="hero__preview-col col-left">
          <picture>
            <source srcset="img/mediateka-music/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-music/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-music/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-music/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-music/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-music/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-music/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-music/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-music/5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-music/5.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-music/6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-music/6.jpg"
              class="image"
              alt="image"
            />
          </picture>
        </div>
        <div class="hero__preview-col col-right">
          <picture>
            <source srcset="img/mediateka-music/7.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-music/7.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-music/8.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-music/8.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-music/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-music/1.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-music/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-music/2.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-music/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-music/3.jpg"
              class="image"
              alt="image"
            />
          </picture>
          <picture>
            <source srcset="img/mediateka-music/4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-music/4.jpg"
              class="image"
              alt="image"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
