<section class="section-descr">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">
        Разбираем, как менять города к лучшему
      </h2>
      <div class="section-descr__text">
        <p>
          Как запустить успешный образовательный проект? Или создать узнаваемый
          локальный бренд в условиях глобализации? Какие шаги нужно предпринять
          администрации, чтобы городская среда становилась комфортнее, а
          талантливые специалисты развивались? И чем бизнес может помочь в
          решении региональных задач по сохранению экологии?
        </p>
        <p>
          На форуме гости делятся своими инициативами и вместе ищут ответы на
          вопрос, как улучшить жизнь в родных городах.
        </p>
      </div>
      <div class="section-descr__img card-animation">
        <div class="card-animation__overlay"></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-hometowns/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-hometowns/1.jpg"
              alt="kustendorf"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
