<section class="hometowns-topics">
  <div class="container">
    <h2 class="hometowns-topics__title">Темы форумов</h2>
    <div class="hometowns-topics__slider swiper">
      <ul class="hometowns-topics__slides swiper-wrapper">
        <li class="hometowns-topics__slide swiper-slide">
          <div class="topics-item">
            <span class="topics-item__top">2021 год</span>
            <p class="topics-item__text">
              Партнёрство для устойчивого развития
            </p>
          </div>
        </li>
        <li class="hometowns-topics__slide swiper-slide">
          <div class="topics-item">
            <span class="topics-item__top">2019 год</span>
            <p class="topics-item__text">
              Сохранение локальной
              идентичности для
              развития территорий
            </p>
          </div>
        </li>
        <li class="hometowns-topics__slide swiper-slide">
          <div class="topics-item">
            <span class="topics-item__top">2018 год</span>
            <p class="topics-item__text">
              Роль бизнеса
              в процессе социальных
              изменений
            </p>
          </div>
        </li>
        <li class="hometowns-topics__slide swiper-slide">
          <div class="topics-item">
            <span class="topics-item__top">2017 год</span>
            <p class="topics-item__text">
              Современные
              инструменты
              социального
              проектирования
            </p>
          </div>
        </li>
        <li class="hometowns-topics__slide swiper-slide">
          <div class="topics-item">
            <span class="topics-item__top">2016 год</span>
            <p class="topics-item__text">
              Креативные практики
              в преобразовании
              городов
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
