<section class="hometowns-topics">
  <div class="container">
    <h2 class="hometowns-topics__title">Темы форумов</h2>
    <div class="hometowns-topics__slider swiper">
      <ul class="hometowns-topics__slides swiper-wrapper">
        <li class="hometowns-topics__slide swiper-slide">
          <div class="topics-item">
            <div class="topics-item__top">
              <span>
                <svg
                  width="18"
                  height="13"
                  viewBox="0 0 18 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.54961 13.0001L0.849609 7.3001L2.27461 5.8751L6.54961 10.1501L15.7246 0.975098L17.1496 2.4001L6.54961 13.0001Z"
                    fill="black"
                  />
                </svg>
              </span>
              2021 год
            </div>
            <p class="topics-item__text">
              Партнёрство для устойчивого развития
            </p>
          </div>
        </li>
        <li class="hometowns-topics__slide swiper-slide">
          <div class="topics-item">
            <div class="topics-item__top">
              <span>
                <svg
                  width="18"
                  height="13"
                  viewBox="0 0 18 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.54961 13.0001L0.849609 7.3001L2.27461 5.8751L6.54961 10.1501L15.7246 0.975098L17.1496 2.4001L6.54961 13.0001Z"
                    fill="black"
                  />
                </svg>
              </span>
              2019 год
            </div>
            <p class="topics-item__text">
              Сохранение локальной идентичности для развития территорий
            </p>
          </div>
        </li>
        <li class="hometowns-topics__slide swiper-slide">
          <div class="topics-item">
            <div class="topics-item__top">
              <span>
                <svg
                  width="18"
                  height="13"
                  viewBox="0 0 18 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.54961 13.0001L0.849609 7.3001L2.27461 5.8751L6.54961 10.1501L15.7246 0.975098L17.1496 2.4001L6.54961 13.0001Z"
                    fill="black"
                  />
                </svg>
              </span>
              2018 год
            </div>
            <p class="topics-item__text">
              Роль бизнеса в процессе социальных изменений
            </p>
          </div>
        </li>
        <li class="hometowns-topics__slide swiper-slide">
          <div class="topics-item">
            <div class="topics-item__top">
              <span>
                <svg
                  width="18"
                  height="13"
                  viewBox="0 0 18 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.54961 13.0001L0.849609 7.3001L2.27461 5.8751L6.54961 10.1501L15.7246 0.975098L17.1496 2.4001L6.54961 13.0001Z"
                    fill="black"
                  />
                </svg>
              </span>
              2017 год
            </div>
            <p class="topics-item__text">
              Современные инструменты социального проектирования
            </p>
          </div>
        </li>
        <li class="hometowns-topics__slide swiper-slide">
          <div class="topics-item">
            <div class="topics-item__top">
              <span>
                <svg
                  width="18"
                  height="13"
                  viewBox="0 0 18 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.54961 13.0001L0.849609 7.3001L2.27461 5.8751L6.54961 10.1501L15.7246 0.975098L17.1496 2.4001L6.54961 13.0001Z"
                    fill="black"
                  />
                </svg>
              </span>
              2016 год
            </div>
            <p class="topics-item__text">
              Креативные практики в преобразовании городов
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
