<section class="how-accept">
  <div class="container">
    <h2 class="how-accept__title">Как принять участие в турнире?</h2>

    <div class="how-accept__slider swiper">
      <ul class="how-accept__slides swiper-wrapper">
        <li class="how-accept__slide swiper-slide">
          <div class="accept-card">
            <span class="accept-card__date">
              1 декабря 2022 - 31 января 2023
            </span>
            <a class="accept-card__link" href="#"><span>РЕГИСТРИРУЙСЯ</span></a>
            <p class="accept-card__text">
              Выбирай на платформе одно из четырех направлений турнира и проходи
              онлайн-курс для того, чтобы подготовиться!
            </p>
          </div>
        </li>
        <li class="how-accept__slide swiper-slide">
          <div class="accept-card">
            <span class="accept-card__date"> 2 - 12 февраля </span>
            <a class="accept-card__link" href="#"><span>Решай</span></a>
            <p class="accept-card__text">
              Реши онлайн все задачи в выбранном блоке, чтобы пройти отборочный
              этап и выйти на регион!
            </p>
          </div>
        </li>
        <li class="how-accept__slide swiper-slide">
          <div class="accept-card">
            <span class="accept-card__date"> 17 февраля - 19 марта </span>
            <a class="accept-card__link" href="#">
              <span
                >Собери команду <br />
                и выполни задания
              </span>
            </a>
            <p class="accept-card__text">
              Пройди региональный этап, собери команду и вместе с ней реши
              инженерный кейс. Лучшие из лучших попадут в финал.
            </p>
          </div>
        </li>
        <li class="how-accept__slide swiper-slide">
          <div class="accept-card">
            <span class="accept-card__date"> Апрель 2023 </span>
            <a class="accept-card__link" href="#"><span>Выиграй</span></a>
            <p class="accept-card__text">
              Финал турнира пройдет в Санкт-Петербурге. Победители примут
              участие в мастер-классах и разработают собственные проекты,
              которые представят экспертам.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
