<section class="media musical--media">
  <div class="container">
    <h2 class="media__title">Медиатека</h2>
  </div>

  <div class="media__content">
    <div class="container">
      <div class="media__slider swiper">
        <ul class="meida__slides swiper-wrapper">
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/kustendorf/1.webp" type="image/webp" />
              <img loading="lazy" src="img/kustendorf/1.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/kustendorf/2.webp" type="image/webp" />
              <img loading="lazy" src="img/kustendorf/2.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/kustendorf/3.webp" type="image/webp" />
              <img loading="lazy" src="img/kustendorf/3.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/kustendorf/4.webp" type="image/webp" />
              <img loading="lazy" src="img/kustendorf/4.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/kustendorf/5.webp" type="image/webp" />
              <img loading="lazy" src="img/kustendorf/5.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/kustendorf/6.webp" type="image/webp" />
              <img loading="lazy" src="img/kustendorf/6.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/kustendorf/7.webp" type="image/webp" />
              <img loading="lazy" src="img/kustendorf/7.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/kustendorf/8.webp" type="image/webp" />
              <img loading="lazy" src="img/kustendorf/8.jpg" alt="media" />
            </picture>
          </li>
        </ul>

        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
  </div>
</section>
