<section class="section-descr">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">Знакомим с профессионалами</h2>
      <p class="section-descr__text">
        Помимо конкурса в программу фестиваля входят концерты симфонического
        оркестра и мэтров классической музыки. В разные годы в Дрвенграде
        выступали баритон Мариинского театра Василий Герелло, скрипач-виртуоз
        Неманья Радулович, концертмейстер Лондонского симфонического оркестра
        Роман Симович, лауреат «Гремми» виолончелист Юрий Башмет и её номинант
        гитарист Гари Лукас.
      </p>
      <div class="section-descr__img card-animation">
        <div class="card-animation__overlay"></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/kustendorf/1.webp" type="image/webp" />
            <img loading="lazy" src="img/kustendorf/1.jpg" alt="kustendorf" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
