<section class="adv-storm">
  <div class="container">
    <div class="adv-storm__wrapper">
      <div class="adv-storm__video">
        <div class="card-animation">
          <div class="card-animation__overlay"></div>
          <div class="card-animation__content">
            <!--  muted -->

            <video
              class="video__img video-js vjs-big-play-centered"
              id="videoPlayer"
              preload="none"
              loop="1"
              poster="img/kustendorf-poster.jpg"
              data-setup="{}"
              controls
              muted
              autoplay="autoplay"
            >
              <source src="video.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>

      <h2 class="adv-storm__title">
        Поддерживаем талантливых музыкантов из регионов
      </h2>
      <div class="adv-storm__text">
        <p>
          Мы помогаем молодым музыкантам из регионов деятельности «Газпром
          нефти» принять участие в фестивале русской классической музыки и
          конкурсе талантов Kustendorf CLASSIC. Фестиваль проходит каждое лето в
          сербской этнодеревне Дрвенград в национальном парке «Мокра Гора» и
          объединяет артистов из России, Сербии и Белоруссии.
        </p>
        <p>
          Участники соревнуются в номинациях «Фортепиано», «Струнные
          инструменты», «Духовые инструменты» и «Вокал».
        </p>
      </div>

      <ul class="adv-storm__list">
        <li class="adv-storm__item">
          <span class="adv-storm__number">5000+</span>
          <span class="adv-storm__small">посетителей</span>
        </li>
        <li class="adv-storm__item">
          <span class="adv-storm__number">50+</span>
          <span class="adv-storm__small">конкурсантов</span>
        </li>
        <li class="adv-storm__item">
          <span class="adv-storm__number">13-25</span>
          <span class="adv-storm__small">лет возраст участников</span>
        </li>
      </ul>
    </div>
  </div>
</section>
