<section class="section-descr section-descr--reverse">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">Как стать участником <br>
        фестиваля</h2>
      <p class="section-descr__text">
        В России в конкурсе принимают участие музыканты и вокалисты из городов
        Муравленко, Мыс Каменный, Ноябрьск, Омск, Оренбург, Томск, Тюмень и Ханты
        Мансийск.
      </p>
      <div class="section-descr__img card-animation">
        <div class="card-animation__overlay card-animation__overlay--right"></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/kustendorf/3.webp" type="image/webp" />
            <img loading="lazy" src="img/kustendorf/3.jpg" alt="kustendorf" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
