<section class="directions directions--masters">
  <div class="container">
    <h2 class="visually-hidden">Направления</h2>

    <ul class="directions__list">
      <li class="directions-item">
        <div class="directions-item__img">
          <img src="directions-masters/1.gif" alt="directions" />
        </div>
        <span class="directions-item__text">Искуство и культура</span>
        <p class="directions-item__descr">фестивали, литература, ремёсла</p>
      </li>
      <li class="directions-item">
        <div class="directions-item__img">
          <img src="directions-masters/2.gif" alt="directions" />
        </div>
        <span class="directions-item__text">Архитектура и дизайн</span>
        <p class="directions-item__descr">
          мода, коммуникационный дизайн, дизайн среды
        </p>
      </li>
      <li class="directions-item">
        <div class="directions-item__img">
          <img src="directions-masters/3.gif" alt="directions" />
        </div>
        <span class="directions-item__text">Медиа и коммуникации</span>

        <p class="directions-item__descr">
          реклама, фильмы, <br />
          звукозапись
        </p>
      </li>
      <li class="directions-item">
        <div class="directions-item__img">
          <img src="directions-masters/4.gif" alt="directions" />
        </div>
        <span class="directions-item__text"
          >Цифровые технологии</span
        >
        <p class="directions-item__descr">
          IT-стратегии и планирование, дизайн веб-сайтов и ПО, компьютерное
          программирование
        </p>
      </li>
    </ul>
  </div>
</section>
