<section class="sports-grid sports-grid--masters">
  <div class="container">
    <div class="sports-grid__top">
      <h2 class="sports-grid__title">«Мастера» – это также</h2>
    </div>

    <ul class="sports-grid__list">
      <li class="sports-grid__item">
        <div class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/masters-grid/1.webp" type="image/webp" />
                <img loading="lazy" src="img/masters-grid/1.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#">
                Подкаст о том, как запустить и развивать в регионах своё любимое
                дело
              </a>
            </h3>
          </div>
        </div>
      </li>
      <li class="sports-grid__item">
        <div class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/masters-grid/2.webp" type="image/webp" />
                <img loading="lazy" src="img/masters-grid/2.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#">
                Новости, аналитика, интервью, разборы и советы от редакции
                портала
              </a>
            </h3>
          </div>
        </div>
      </li>
      <li class="sports-grid__item">
        <div class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/masters-grid/3.webp" type="image/webp" />
                <img loading="lazy" src="img/masters-grid/3.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#"
                >Интерактивная карта креативных проектов – для поиска сообщников
                и коллег</a
              >
            </h3>
          </div>
        </div>
      </li>
      <li class="sports-grid__item">
        <div class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/masters-grid/4.webp" type="image/webp" />
                <img loading="lazy" src="img/masters-grid/4.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#">
                Мобильный гид по современной Сибири «Explore Siberia»
              </a>
            </h3>
          </div>
        </div>
      </li>
      <li class="sports-grid__item">
        <div class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/masters-grid/5.webp" type="image/webp" />
                <img loading="lazy" src="img/masters-grid/5.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#">
                Медиа о современной культурной жизни сибирских городов «Мастера
                Сибири»
              </a>
            </h3>
          </div>
        </div>
      </li>
      <li class="sports-grid__item">
        <div class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/masters-grid/6.webp" type="image/webp" />
                <img loading="lazy" src="img/masters-grid/6.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__body">
            <h3 class="events-card__title">
              <a href="#">
                Медиа о современной культурной жизни сибирских городов «Мастера
                Сибири»
              </a>
            </h3>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
