<section class="section-descr section-descr--masters-bg">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">
        Что такое креативные <br />
        индустрии?
      </h2>
      <div class="section-descr__text">
        <p>
          Креативные индустрии сочетают творческий подход и новые технологии. От
          искусства их отличает практическая направленность. Это новый сектор
          экономики, в котором товары и услуги – результат интеллектуального
          труда.
        </p>
      </div>
      <div class="section-descr__img card-animation">
        <div
          class="card-animation__overlay card-animation__overlay--right"
        ></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-masters/4.jpg" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-masters/4.jpg"
              alt="kustendorf"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
