<section class="materials">
  <div class="container">
    <h2 class="materials__title">КТО ВДОХНОВЛЯЕТ И КЕМ ГОРДИМСЯ</h2>

    <ul class="materials__list">
      <li class="materials__item materials__item--big">
        <article class="materials-card">
          <div class="materials-card__top">
            <picture>
              <source srcset="img/materials.webp" type="image/webp" />
              <img loading="lazy" src="img/materials.jpg" alt="materials" />
            </picture>
          </div>

          <div class="materials-card__tags">
            <div class="tags swiper">
              <ul class="tags__list swiper-wrapper">
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                </li>
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Лучшие практики</a>
                </li>
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                </li>
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Лучшие практики</a>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="materials-card__title">
            <a href="#">Секреты воспитания от Александра Шлеменко</a>
          </h3>
          <div class="materials-card__text">
            <p>
              Чемпион мира по ММА — о том, как строить систему для спортивного
              воситания чемпионов и нужно ли это делать
            </p>
          </div>
          <div class="materials-card__bottom">
            <div class="materials-card__date">7 марта</div>

            @include('actions-block.html')
          </div>
        </article>
      </li>
      <li class="materials__item">
        <article class="materials-card">
          <div class="materials-card__tags">
            <div class="tags swiper">
              <ul class="tags__list swiper-wrapper">
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                </li>
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Лучшие практики</a>
                </li>
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                </li>
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Лучшие практики</a>
                </li>
              </ul>
            </div>
          </div>
          <h3 class="materials-card__title">
            <a href="#"> 5 крутых идей волонтерских проектов </a>
          </h3>
          <div class="materials-card__text">
            <p>Новый рецепт добрых дел — совмещение форматов</p>
          </div>
          <div class="materials-card__bottom">
            <div class="materials-card__date">7 марта</div>

            @include('actions-block.html')
          </div>
        </article>
      </li>
      <li class="materials__item">
        <article class="materials-card">
          <div class="materials-card__tags">
            <div class="tags swiper">
              <ul class="tags__list swiper-wrapper">
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                </li>
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Лучшие практики</a>
                </li>
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                </li>
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Лучшие практики</a>
                </li>
              </ul>
            </div>
          </div>
          <h3 class="materials-card__title">
            <a href="#"
              >Главное в волонтерстве — принимать решения и нести за них
              ответственность</a
            >
          </h3>
          <div class="materials-card__text">
            <p>
              Дарья Баркова, донор и волонтер «Газпром нефти», рассказывает,
              зачем и как запускать собственные социальные проекты
            </p>
          </div>
          <div class="materials-card__bottom">
            <div class="materials-card__date">7 марта</div>

            @include('actions-block.html')
          </div>
        </article>
      </li>
      <li class="materials__item">
        <article class="materials-card">
          <div class="materials-card__tags">
            <div class="tags swiper">
              <ul class="tags__list swiper-wrapper">
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                </li>
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Лучшие практики</a>
                </li>
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                </li>
                <li class="tags__item swiper-slide">
                  <a class="tags__tag" href="#">Лучшие практики</a>
                </li>
              </ul>
            </div>
          </div>
          <h3 class="materials-card__title">
            <a href="#">Чем активнее горожане, тем сильнее бренд города</a>
          </h3>
          <div class="materials-card__text">
            <p>
              Фади Джабри, исполнительный директор архитектурного бюро Nikken
              Sekkei, о главных трендых в развитии городов
            </p>
          </div>
          <div class="materials-card__bottom">
            <div class="materials-card__date">7 марта</div>

            @include('actions-block.html')
          </div>
        </article>
      </li>
    </ul>

    <div class="materials__bottom">
      <a class="materials__btn btn btn--bordered" href="#">Больше материалов</a>
    </div>
  </div>
</section>
