<section class="adv-storm">
  <div class="container">
    <div class="adv-storm__wrapper">
      <div class="adv-storm__video">
        <div class="card-animation">
          <div class="card-animation__overlay"></div>
          <div class="card-animation__content">
            <!--  muted -->

            <video
              class="video__img video-js vjs-big-play-centered"
              id="videoPlayer"
              preload="none"
              loop="1"
              poster="img/adv-storm-poster.jpg"
              data-setup="{}"
              controls
              muted
              autoplay="autoplay"
            >
              <source src="video.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>

      <h2 class="adv-storm__title">Растим будущих учёных и профессионалов</h2>
      <div class="adv-storm__text">
        <p>
          С 2015 года мы помогаем талантливым математикам из разных регионов
          страны. Совместно с Санкт-Петербургским государственным университетом
          на базе факультета математики и компьютерных наук организуем летние
          лагеря для школьников, награждаем именными премиями студентов,
          достигших выдающихся успехов в науке, финансируем исследования в
          области прикладной и теоретической математики.
        </p>
        <p>
          Программой руководит выдающийся учёный Станислав Смирнов — глава
          Лаборатории им. П. Л. Чебышёва, обладатель медали Филдса —
          «нобелевской премии» в математике. В числе «выпускников» проекта —
          Александр Логунов, лауреат премии Клэя, второй по значимости награды в
          математике.
        </p>
      </div>

      <ul class="adv-storm__list">
        <li class="adv-storm__item">
          <span class="adv-storm__number">800+</span>
          <span class="adv-storm__small">стипендий</span>
        </li>
        <li class="adv-storm__item">
          <span class="adv-storm__number">100+</span>
          <span class="adv-storm__small">стажировок</span>
        </li>
        <li class="adv-storm__item">
          <span class="adv-storm__number">30+</span>
          <span class="adv-storm__small">грантов ученым</span>
        </li>
      </ul>
    </div>
  </div>
</section>
