<section class="media">
  <div class="container">
    <h2 class="media__title">Медиатека</h2>
  </div>

  <div class="media__content">
    <div class="container">
      <div class="media__slider swiper">
        <ul class="meida__slides swiper-wrapper">
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/mediateka-storm/1.webp" type="image/webp" />
              <img loading="lazy" src="img/mediateka-storm/1.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/mediateka-storm/2.webp" type="image/webp" />
              <img loading="lazy" src="img/mediateka-storm/2.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/mediateka-storm/3.webp" type="image/webp" />
              <img loading="lazy" src="img/mediateka-storm/3.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/mediateka-storm/4.webp" type="image/webp" />
              <img loading="lazy" src="img/mediateka-storm/4.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/mediateka-storm/5.webp" type="image/webp" />
              <img loading="lazy" src="img/mediateka-storm/5.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/mediateka-storm/6.webp" type="image/webp" />
              <img loading="lazy" src="img/mediateka-storm/6.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/mediateka-storm/7.webp" type="image/webp" />
              <img loading="lazy" src="img/mediateka-storm/7.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/mediateka-storm/8.webp" type="image/webp" />
              <img loading="lazy" src="img/mediateka-storm/8.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/mediateka-storm/9.webp" type="image/webp" />
              <img loading="lazy" src="img/mediateka-storm/9.jpg" alt="media" />
            </picture>
          </li>
          <li class="media__slide swiper-slide">
            <picture>
              <source srcset="img/mediateka-storm/10.webp" type="image/webp" />
              <img loading="lazy" src="img/mediateka-storm/10.jpg" alt="media" />
            </picture>
          </li>
        </ul>

        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>
  </div>
</section>
