<section class="section-descr section-descr--museums">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">
        Культурные пространства <br>
        Томска
      </h2>

      <p class="section-descr__text">
        Поддержали открытие первого в городе коворкинга для творческих
        студентов и молодых ученых «Art&Science». Запустили экскурсионный
        чат-бот в телеграме и разработали новые маршруты по университетским
        городкам всех вузов Томска. Помогли провести фестиваль культуры
        и ремёсел с арт лабораториями и подготовить подкаст с местными
        креативными предпринимателями и художниками.
      </p>
      <div class="section-descr__img card-animation">
        <div class="card-animation__overlay card-animation__overlay--right"></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-museums/5.webp" type="image/webp" />
            <img loading="lazy" src="img/mediateka-museums/5.jpg" alt="kustendorf" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
