<section class="section-descr section-descr--museums">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">
        Музейный комплекс <br />
        им. И. Я. Словцова, Тюмень
      </h2>

      <p class="section-descr__text">
        <span>Мультицентр «Контора пароходства»</span>
        Открыли внутренний дворик музея: поставили новые арт-работы тюменских и
        ямальских мастеров. Два месяца вместе с «Конторой пароходства» проводили
        в Тюмени фестиваль культуры и современного искусства, запустили
        городской VR тур. Провели образовательную школу с Эрмитажем и составили
        гайд для работы в цифровой среде. Организовали серию передвижных
        выставок из коллекции Музея им. И.Я. Словцова в ямальских районах.
      </p>
      <div class="section-descr__img card-animation">
        <div class="card-animation__overlay"></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-museums/3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/3.jpg"
              alt="kustendorf"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
