<section class="section-descr section-descr--museums">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">
        Городской музей <br>
        «Искусство Омска»
      </h2>

      <p class="section-descr__text">
        Открыли крупнейший в регионе скейтпарк, привлекли местные стрит-арт
        команды для росписи стен. В «Икусстве Омска» создали музейную коллекцию
        сувениров о субкультурахсубкультурах. Оформили фасад здания музея:
        установили световую вывеску и дополнительную уличную навигацию.
        Дали рекомендации по развитию фирменного стиля музея.
      </p>
      <div class="section-descr__img card-animation">
        <div class="card-animation__overlay"></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-museums/7.webp" type="image/webp" />
            <img loading="lazy" src="img/mediateka-museums/7.jpg" alt="kustendorf" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
