<section class="section-descr section-descr--museums-reverse">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">
        Губернаторский <br />
        историко-краеведческий <br />
        музей, Оренбург
      </h2>
      <p class="section-descr__text">
        Вместе с местными художниками и мастерскими оформили сувенирную лавку
        музея и представили коллекции на городских ярмарках. Модернизировали
        внутренний дворик музея: провели современное креативное освещение,
        улучшили навигацию, обустроили площадки для уличных выставок.
        Договорились о проведении музыкальных, образовательных и партнёрских
        мероприятий.
      </p>
      <div class="section-descr__img card-animation">
        <div class="card-animation__overlay"></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-museums/6.webp" type="image/webp" />
            <img loading="lazy" src="img/mediateka-museums/6.jpg" alt="kustendorf" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
