<section class="museums-course">
  <div class="container">
    <div class="museums-course__wrapper">
      <h2 class="museums-course__title">
        Помогаем стать <br />
        «заметными» и близкими
      </h2>

      <div class="museums-course__text">
        <p>
          Вместе с музейными работниками мы модернизировали залы, оцифровали
          экспонаты, обновили сайты и социальные сети. Совместно с экспертами
          научились проводить мероприятия городского уровня и использовать
          современные форматы общения с аудиторией – фотолаборатории,
          арт-медитации, мастер-классы с локальными ремесленниками и
          художниками.
        </p>
        <p class="hide">
          В каждом случае к изменениям подходили индивидуально. Команда во главе
          с Маратом Исмагиловым, искусствоведом и куратором выставочных и
          образовательных проектов Молодёжного центра Эрмитажа, анализировала,
          насколько музей активен в городском пространстве, в каком состоянии
          помещения и экспозиции и удобно ли ими пользоваться, участвует ли
          музей в партнёрских арт-проектах, задействует ли цифровые технологии,
          пользуется ли поддержкой национальных проектов и грантов. Отдельно
          команда смотрела на присутствие в СМИ и социальных сетях и на
          узнаваемость бренда музея.
        </p>
        <p class="hide">
          После этого разрабатывался план действий и в зависимости от него
          проводились консультации по маркетингу, SMM, организации мероприятий и
          сотрудничеству с городом.
        </p>
      </div>

      <button class="museums-course__more" type="button">
        Подробнее
        <svg
          width="12"
          height="8"
          viewBox="0 0 12 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.41 0.580078L6 5.17008L10.59 0.580078L12 2.00008L6 8.00008L0 2.00008L1.41 0.580078Z"
            fill="black"
          />
        </svg>
      </button>

      <a class="museums-course__btn" href="#">
        <span> Пройти курс </span>

        <svg
          width="21"
          height="21"
          viewBox="0 0 21 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="orange"
            d="M18 3L3 18"
            stroke="#E65907"
            stroke-width="4"
            stroke-linecap="square"
          />
          <path
            class="blue"
            d="M2 0H0V4H2V0ZM19 2H21V0H19V2ZM17 18V20H21V18H17ZM2 4H19V0H2V4ZM17 2V18H21V2H17Z"
            fill="#009AFF"
          />
        </svg>
      </a>

      <div class="museums-course__img card-animation">
        <div class="card-animation__overlay"></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-museums/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-museums/1.jpg"
              alt="kustendorf"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
