<section class="musical-form">
  <div class="container">
    <h2 class="musical-form__title">
      Примите участие 
      в арт-лаборатории
    </h2>
    <p class="musical-form__text">
      Если вы живете в Ноябрьске, Омске или Ханты-Мансийске, если учитесь в
      музыкальной школе по классу фортепиано, аккордеона, виолончели, скрипки
      или баяна, и вам от 12 до 15 лет, заполните заявку и мы свяжемся с Вами!
    </p>

    <form class="musical-form__form form-musical">
      <div class="form-musical__group">
        <input class="form-musical__input" type="text" required />
        <label class="form-musical__label">Фамилия Имя Отчество </label>
      </div>
      <div class="form-musical__group">
        <input class="form-musical__input" type="text" required />
        <label class="form-musical__label">
          Почему Вы хотите принять участие в лаборатории?
        </label>
      </div>
      <div class="form-musical__group">
        <input class="form-musical__input" type="text" required />
        <label class="form-musical__label"> Из какого Вы города? </label>
      </div>
      <div class="form-musical__group">
        <input class="form-musical__input" type="text" required />
        <label class="form-musical__label">
          Вы когда-нибудь пробовали писать музыку?
        </label>
      </div>
      <div class="form-musical__group">
        <input class="form-musical__input" type="text" required />
        <label class="form-musical__label">
          Музыкальное учебное заведение, в котором Вы учитесь
        </label>
      </div>
      <div class="form-musical__group">
        <input class="form-musical__input" type="text" required />
        <label class="form-musical__label">
          Участвовали ли Вы ранее в Музыкальной мастерской?
        </label>
      </div>
      <div class="form-musical__group">
        <input class="form-musical__input" type="text" required />
        <label class="form-musical__label">
          Музыкальное направление, по которому Вы обучаетесь?
        </label>
      </div>
      <div class="form-musical__group">
        <input class="form-musical__input" type="text" required />
        <label class="form-musical__label">
          Укажите Ваш номер телефона и адрес электронной почты
        </label>
      </div>
      <div class="form-musical__group">
        <input class="form-musical__input" type="text" required />
        <label class="form-musical__label">
          Сколько лет Вы занимаетесь музыкой?
        </label>
      </div>
      <div class="form-musical__group">
        <input class="form-musical__input" type="text" required />
        <label class="form-musical__label">
          Укажите номер телефона и e-mail одного Вашего родителя?
        </label>
      </div>

      <button class="form-musical__btn btn" type="submit">ПОДАТЬ ЗАЯВКУ</button>
    </form>
  </div>
</section>
