<section class="musical-inspire">
  <div class="container">
    <div class="musical-inspire__wrapper">
      <div class="musical-inspire__left">
        <h2 class="musical-inspire__title">
          ВДОХНОВЛЯЕМ <span></span> НА ТВОРЧЕСТВО
        </h2>

        <div class="musical-inspire__img musical-inspire__img--mobile">
          <picture>
            <source srcset="img/musical-inspire.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/musical-inspire.jpg"
              alt="яндекс музыка"
            />
          </picture>
        </div>

        <p>
          В музыкальной мастерской дети из регионов учатся писать свою первую
          музыку. Для этого педагоги проводят для них арт-медиацию. Это новая
          образовательная методика была внедрена нами для развития творческого
          потенциала юных музыкантов: во время арт-медиации дети гуляют по
          родному городу, общаются с куратором, обмениваются эмоциями, мечтают.
          После этого они перекладывают свои ощущения в музыку и создают
          музыкальные произведения под руководством наставников. Во время
          арт-медиации подросток открывает для себя совершенно новый мир, где
          ценят и его самого, и его музыку.
        </p>
      </div>
      <div class="musical-inspire__img">
        <picture>
          <source srcset="img/musical-inspire.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/musical-inspire.jpg"
            alt="яндекс музыка"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
