<section class="section-descr section-descr--bg">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">
        На поиски морских <br />
        единорогов. Дневник проекта.
      </h2>
      <div class="section-descr__text section-descr__text--narval">
        <p>
          Участники одной из экспедиций вели дневники, в которых рассказывали о
          встречах с неуловимыми нарвалами – самыми пугливыми животными Арктики.
          Как гнались за ними на лодках и следили с вертолётов, и как в этом
          помогали морские соседи белухи, моржи и гренландские киты, читайте в
          нашем интерактивном спецпроекте:
          <a href="https://spec.tass.ru/narwhal/" target="_blank">
            https://spec.tass.ru/narwhal/
          </a>
        </p>
      </div>
      <div class="section-descr__img card-animation">
        <div class="card-animation__overlay card-animation__overlay--right"></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-narval/2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/2.jpg"
              alt="narval"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
