<section class="adv-storm">
  <div class="container">
    <div class="adv-storm__wrapper">
      <div class="adv-storm__video">
        <div class="card-animation">
          <div class="card-animation__overlay"></div>
          <div class="card-animation__content">
            <!--  muted -->

            <video
              class="video__img video-js vjs-big-play-centered"
              id="videoPlayer"
              preload="none"
              loop="1"
              poster="img/narval-poster.jpg"
              data-setup="{}"
              controls
              muted
              autoplay="autoplay"
            >
              <source src="video.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>

      <h2 class="adv-storm__title">
        Исследуем «морского единорога» в российской Арктике
      </h2>
      <div class="adv-storm__text">
        <p>
          С 2018 года мы помогаем Институту проблем экологии и эволюции им. А.
          Н. Северцова РАН изучать нарвала – редкий вид млекопитающих,
          занесённый в Красную книгу России. «Морской единорог» – символ
          хрупкости Арктики – он сильнее других китообразных воспринимает
          изменения климата и загрязнение окружающей среды. И наблюдая за ним,
          мы следим за состоянием всей арктической экосистемы.
        </p>
        <p>
          Это первый в России научно-исследовательский проект, направленный на
          изучение и охрану этого легендарного животного.
        </p>
      </div>

      <ul class="adv-storm__list">
        <li class="adv-storm__item">
          <span class="adv-storm__number">800+</span>
          <span class="adv-storm__small">часов наблюдений</span>
        </li>
        <li class="adv-storm__item">
          <span class="adv-storm__number">10000+</span>
          <span class="adv-storm__small">км исследований</span>
        </li>
        <li class="adv-storm__item">
          <span class="adv-storm__number">25+</span>
          <span class="adv-storm__small">учёных</span>
        </li>
      </ul>
    </div>
  </div>
</section>
