<section class="section-descr">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">Получаем научные данные</h2>
      <div class="section-descr__text section-descr__text--narval">
        <p>
          Вместе с учёными мы уже организовали две экспедиции в акваторию Земли
          Франца-Иосифа – именно там, в результате долгих поисков,
          исследователям удалось обнаружить и посчитать взрослых с детёнышами.
          Учёные считают, что нарвалы приплывают для воспроизводства популяции
          именно в российскую Арктику.
        </p>
        <p>
          Впереди – новые экспедиции, которые позволят оценить поведение
          нарвалов, состояние воды и льда в местах их обитания, количество и
          качество пищи. Эти исследования покажут, как именно человек влияет на
          экологию Арктики, и что делать, чтобы её сохранить.
        </p>
      </div>
      <div class="section-descr__img card-animation">
        <div class="card-animation__overlay card-animation__overlay--right"></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-narval/1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/mediateka-narval/1.jpg"
              alt="narval"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
