<div class="news-contacts">
  <div class="news-contacts__inner">
    <div class="news-contacts__col">
      <span class="news-contacts__text">
        Контактная информация <br />
        для СМИ
      </span>

      <a class="news-contacts__link" href="tel:+78123633152">
        +7-812-363-3152
      </a>
      <a class="news-contacts__link--mail" href="mailto:pr@rodnyegoroda.ru">
        pr@rodnyegoroda.ru
      </a>
    </div>
    <div class="news-contacts__col">
      <span class="news-contacts__text">
        Контактная информация для инвестиционных компаний
      </span>

      <a class="news-contacts__link" href="tel:+78123633152">
        +7-812-363-3152
      </a>
      <a class="news-contacts__link--mail" href="mailto:pr@rodnyegoroda.ru">
        pr@rodnyegoroda.ru
      </a>
    </div>
    <div class="news-contacts__col">
      <span class="news-contacts__text">
        «Родные Города» <br />
        в социальных сетях
      </span>

      <div class="socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a class="socials__link socials__link--vk" href="#"></a>
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--ok" href="#"></a>
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--telegram" href="#"></a>
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--rutube" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
