<div class="feedback">
  <div class="tabs">
    <div class="feedback__top feedback-top">
      <ul class="feedback-top__list">
        <li class="feedback-top__item">
          <button class="feedback-top__btn tabs-btn" type="button">
            Вопросы по вебинару
          </button>
        </li>
        <li class="feedback-top__item">
          <button class="feedback-top__btn tabs-btn" type="button">
            Комментарии (<span>100</span>)
          </button>
        </li>
      </ul>
    </div>
    <div class="feedback__content tabs-content active">
      <div class="feedback__item">
        <form class="feedback__form form-add">
          <p class="form-add__text">Все комментарии проходят модерацию.</p>
          <input
            class="form-add__input"
            type="text"
            placeholder="Добавить комментарий"
          />
          <button class="form-add__btn btn disabled" type="submit" disabled>
            Отправить
          </button>
        </form>

        <div class="comments">
          <ul class="comments__list">
            <li class="comments__item">
              <div class="comments-item">
                <div class="comments-item__img">
                  <img src="img/author.jpg" alt="avatar" />
                </div>
                <div class="comments-item__right">
                  <div class="comments-item__info">
                    <h4 class="comments-item__title">Крылова Анастасия</h4>
                    <div class="comments-item__date">
                      <span>7 марта 2022</span> | <span>19:00</span>
                    </div>
                  </div>
                  <div class="comments-item__text">
                    <p>Очень полезный вебинар, прям много нового узнала</p>
                  </div>
                  <button class="comments-item__btn" type="button">
                    ОТВЕТИТЬ
                  </button>
                </div>
              </div>

              <ul class="comments__answers">
                <li class="comments__answer">
                  <div class="comments-item">
                    <div class="comments-item__img">
                      <img src="img/author.jpg" alt="avatar" />
                    </div>
                    <div class="comments-item__right">
                      <div class="comments-item__info">
                        <h4 class="comments-item__title">Богданов Павел</h4>
                        <div class="comments-item__date">
                          <span>7 марта 2022</span> | <span>19:00</span>
                        </div>
                      </div>
                      <div class="comments-item__text">
                        <p>
                          <a class="comments-item__link" href="#">
                            Крылова Анастасия </a
                          >, Согласен
                        </p>
                      </div>
                      <button class="comments-item__btn" type="button">
                        ОТВЕТИТЬ
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </li>

            <li class="comments__item">
              <div class="comments-item">
                <div class="comments-item__img">
                  <img src="img/author.jpg" alt="avatar" />
                </div>
                <div class="comments-item__right">
                  <div class="comments-item__info">
                    <h4 class="comments-item__title">Крылова Анастасия</h4>
                    <div class="comments-item__date">
                      <span>7 марта 2022</span> | <span>19:00</span>
                    </div>
                  </div>
                  <div class="comments-item__text">
                    <p>Очень полезный вебинар, прям много нового узнала</p>
                  </div>
                  <button class="comments-item__btn" type="button">
                    ОТВЕТИТЬ
                  </button>
                </div>
              </div>
            </li>
            <li class="comments__item">
              <div class="comments-item">
                <div class="comments-item__img">
                  <img src="img/author.jpg" alt="avatar" />
                </div>
                <div class="comments-item__right">
                  <div class="comments-item__info">
                    <h4 class="comments-item__title">Крылова Анастасия</h4>
                    <div class="comments-item__date">
                      <span>7 марта 2022</span> | <span>19:00</span>
                    </div>
                  </div>
                  <div class="comments-item__text">
                    <p>Очень полезный вебинар, прям много нового узнала</p>
                  </div>
                  <button class="comments-item__btn" type="button">
                    ОТВЕТИТЬ
                  </button>
                </div>
              </div>
            </li>
            <li class="comments__item">
              <div class="comments-item">
                <div class="comments-item__img">
                  <img src="img/author.jpg" alt="avatar" />
                </div>
                <div class="comments-item__right">
                  <div class="comments-item__info">
                    <h4 class="comments-item__title">Крылова Анастасия</h4>
                    <div class="comments-item__date">
                      <span>7 марта 2022</span> | <span>19:00</span>
                    </div>
                  </div>
                  <div class="comments-item__text">
                    <p>Очень полезный вебинар, прям много нового узнала</p>
                  </div>
                  <button class="comments-item__btn" type="button">
                    ОТВЕТИТЬ
                  </button>
                </div>
              </div>
            </li>
          </ul>

          <button class="comments__all btn btn--bordered" type="button">
            читать все вопросы
          </button>
        </div>
      </div>
    </div>
    <div class="feedback__content tabs-content">
      <div class="feedback__item">
        <form class="feedback__form form-add">
          <p class="form-add__text">Все комментарии проходят модерацию.</p>
          <input
            class="form-add__input"
            type="text"
            placeholder="Добавить комментарий"
          />
          <button class="form-add__btn btn disabled" type="submit" disabled>
            Отправить
          </button>
        </form>

        <div class="comments">
          <ul class="comments__list">
            <li class="comments__item">
              <div class="comments-item">
                <div class="comments-item__img">
                  <img src="img/author.jpg" alt="avatar" />
                </div>
                <div class="comments-item__right">
                  <div class="comments-item__info">
                    <h4 class="comments-item__title">Крылова Анастасия</h4>
                    <div class="comments-item__date">
                      <span>7 марта 2022</span> | <span>19:00</span>
                    </div>
                  </div>
                  <div class="comments-item__text">
                    <p>Очень полезный вебинар, прям много нового узнала</p>
                  </div>
                  <button class="comments-item__btn" type="button">
                    ОТВЕТИТЬ
                  </button>
                </div>
              </div>

              <ul class="comments__answers">
                <li class="comments__answer">
                  <div class="comments-item">
                    <div class="comments-item__img">
                      <img src="img/author.jpg" alt="avatar" />
                    </div>
                    <div class="comments-item__right">
                      <div class="comments-item__info">
                        <h4 class="comments-item__title">Богданов Павел</h4>
                        <div class="comments-item__date">
                          <span>7 марта 2022</span> | <span>19:00</span>
                        </div>
                      </div>
                      <div class="comments-item__text">
                        <p>
                          <a class="comments-item__link" href="#">
                            Крылова Анастасия
                          </a>
                          , Согласен
                        </p>
                      </div>
                      <button class="comments-item__btn" type="button">
                        ОТВЕТИТЬ
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </li>

            <li class="comments__item">
              <div class="comments-item">
                <div class="comments-item__img">
                  <img src="img/author.jpg" alt="avatar" />
                </div>
                <div class="comments-item__right">
                  <div class="comments-item__info">
                    <h4 class="comments-item__title">Крылова Анастасия</h4>
                    <div class="comments-item__date">
                      <span>7 марта 2022</span> | <span>19:00</span>
                    </div>
                  </div>
                  <div class="comments-item__text">
                    <p>Очень полезный вебинар, прям много нового узнала</p>
                  </div>
                  <button class="comments-item__btn" type="button">
                    ОТВЕТИТЬ
                  </button>
                </div>
              </div>
            </li>
            <li class="comments__item">
              <div class="comments-item">
                <div class="comments-item__img">
                  <img src="img/author.jpg" alt="avatar" />
                </div>
                <div class="comments-item__right">
                  <div class="comments-item__info">
                    <h4 class="comments-item__title">Крылова Анастасия</h4>
                    <div class="comments-item__date">
                      <span>7 марта 2022</span> | <span>19:00</span>
                    </div>
                  </div>
                  <div class="comments-item__text">
                    <p>Очень полезный вебинар, прям много нового узнала</p>
                  </div>
                  <button class="comments-item__btn" type="button">
                    ОТВЕТИТЬ
                  </button>
                </div>
              </div>
            </li>
            <li class="comments__item">
              <div class="comments-item">
                <div class="comments-item__img">
                  <img src="img/author.jpg" alt="avatar" />
                </div>
                <div class="comments-item__right">
                  <div class="comments-item__info">
                    <h4 class="comments-item__title">Крылова Анастасия</h4>
                    <div class="comments-item__date">
                      <span>7 марта 2022</span> | <span>19:00</span>
                    </div>
                  </div>
                  <div class="comments-item__text">
                    <p>Очень полезный вебинар, прям много нового узнала</p>
                  </div>
                  <button class="comments-item__btn" type="button">
                    ОТВЕТИТЬ
                  </button>
                </div>
              </div>
            </li>
          </ul>

          <button class="comments__all btn btn--bordered" type="button">
            читать все 100 комментариев
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
