<div class="quote quote--presscenter">
  <div class="author">
    <picture>
      <source srcset="img/author-presscenter.webp" type="image/webp" />
      <img
        class="author__img"
        loading="lazy"
        src="img/author-presscenter.jpg"
        alt=""
      />
    </picture>
    <div class="author__info">
      <h4 class="author__title"><a href="#">Юрий Розум</a></h4>

      <p class="author__prof">
        народный артист России, профессор Российской академии музыки им.
        Гнесиных:
      </p>
    </div>
  </div>
  <blackquote class="quote__text quote__text--italic">
    «В регионах живут потрясающие, уникальные юные таланты, работают одаренные
    педагоги, и наша главная задача – поддерживать их. Реализация таланта почти
    полностью зависит от взрослых, которые окружают юного музыканта.
    «Музыкальная мастерская» – это, в первую очередь, правильное окружение,
    которое позволяет обмениваться профессиональными навыками, знаниями, опытом,
    секретами мастерства. Формировать новое устойчивое сообщество музыкантов».
  </blackquote>
</div>
