<section class="news-details">
  <div class="container">
    <div class="news-details__nav">
      <a class="news-details__back" href="news.html">все полезные материалы</a>
    </div>

    <div class="news-details__main">
      <div class="news-details__wrapper">
        <div class="news-details__inner">
          <h1 class="news-details__title">
            Вебинар «Как составить заявку, чтобы победить в грантовом конкурсе»
          </h1>

          <div class="news-details__content">
            <div class="news-details__text">
              <p>
                За последние несколько лет наш подход к волонтерству изменился.
                Мы стали действовать менее хаотично и более осознанно. В моем
                понимании, хаотично – это когда ты, вместо реальной поддержки,
                «причиняешь добро». Например, едешь в детский дом с подарками к
                празднику. Понятная и привычная акция, но помощь нужно оказывать
                обдуманно. Не воспитывать чувство иждивенчества, а помогать
                становиться человеком. Делать эти подарки вместе, встречаться не
                только по праздникам, проводить в течение года
                профориентационные встречи. При этом для самих волонтеров еще
                очень важно общение друг с другом. От постоянной помощи тоже
                устаешь, можешь выгореть. А когда рядом есть кто-то, кто тебя
                хорошо понимает и вовремя поддержит – на все есть силы. И в
                период самоизоляции эта нехватка «живых» встреч ощущается
                особенно остро.
              </p>
            </div>

            <div class="news-details__banner">
              <div class="news-details__slider swiper">
                <ul class="news-details__slides swiper-wrapper">
                  <li class="news-details__slide swiper-slide">
                    <article class="news-details-slider">
                      <div class="news-details-slider__top">
                        <picture>

                          <source
                            srcset="img/news-details-slider/1.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/news-details-slider/1.jpg"
                            alt=""
                          />
                        </picture>
                      </div>
                      <div class="news-details-slider__body">
                        <h3 class="news-details-slider__title">
                          Как использовать местную культуру и традиции в бизнесе
                        </h3>

                        <p class="news-details-slider__text">
                          Новый бесплатный курс "Мастеров"
                        </p>
                      </div>
                    </article>
                  </li>
                  <li class="news-details__slide swiper-slide">
                    <article class="news-details-slider">
                      <div class="news-details-slider__top">
                        <picture>

                          <source
                            srcset="img/news-details-slider/1.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/news-details-slider/1.jpg"
                            alt=""
                          />
                        </picture>
                      </div>
                      <div class="news-details-slider__body">
                        <h3 class="news-details-slider__title">
                          Как использовать местную культуру и традиции в бизнесе
                        </h3>

                        <p class="news-details-slider__text">
                          Новый бесплатный курс "Мастеров"
                        </p>
                      </div>
                    </article>
                  </li>
                </ul>
                <div class="swiper-pagination"></div>
                <div class="news-details__actions slider-actions">
                  <div class="slider-actions__arrows">
                    <button
                      class="swiper-button-prev"
                      type="button"
                      aria-label="Предыдущий"
                    ></button>
                    <button
                      class="swiper-button-next"
                      type="button"
                      aria-label="Следуюший"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <article class="news-details-card">
            <div class="news-details-card__top">
              <h3 class="news-details-card__title">Текст подзаголовка</h3>
              <div class="news-details-card__text">
                <p>
                  За последние несколько лет наш подход к волонтерству
                  изменился. Мы стали действовать менее хаотично и более
                  осознанно. В моем понимании, хаотично – это когда ты, вместо
                  реальной поддержки, «причиняешь добро». Например, едешь в
                  детский дом с подарками к празднику. Понятная и привычная
                  акция, но помощь нужно оказывать обдуманно. Не воспитывать
                  чувство иждивенчества, а помогать становиться человеком.
                  Делать эти подарки вместе, встречаться не только по
                  праздникам, проводить в течение года профориентационные
                  встречи. При этом для самих волонтеров еще очень важно общение
                  друг с другом. От постоянной помощи тоже устаешь, можешь
                  выгореть. А когда рядом есть кто-то, кто тебя хорошо понимает
                  и вовремя поддержит – на все есть силы. И в период
                  самоизоляции эта нехватка «живых» встреч ощущается особенно
                  остро.
                </p>
              </div>

              <div class="news-details-card__imgs">
                <div class="news-details-img">
                  <picture>

                    <source
                      srcset="img/news-details/1.webp"
                      type="image/webp"
                    />
                    <img loading="lazy" src="img/news-details/1.jpg" alt="" />
                  </picture>

                  <div class="news-details-img__info">
                    <h4 class="news-details-img__title">Подпись к фото</h4>
                    <p class="news-details-img__text">
                      Источник фото: www.shutterstock.com
                    </p>
                  </div>
                </div>
                <div class="news-details-img">
                  <picture>

                    <source
                      srcset="img/news-details/2.webp"
                      type="image/webp"
                    />
                    <img loading="lazy" src="img/news-details/2.jpg" alt="" />
                  </picture>
                  <div class="news-details-img__info">
                    <h4 class="news-details-img__title">Подпись к фото</h4>
                    <p class="news-details-img__text">
                      Источник фото: www.shutterstock.com
                    </p>
                  </div>
                </div>
              </div>

              <div class="news-details-card__text">
                <p>
                  С 1963 года имя Шебалина носит Музыкальное училище в Омске
                  (будущий композитор учился в нём в 1920-х годах и был одним из
                  первых его выпускников). Среди учеников Шебалина В.Я.
                  крупнейшие композиторы страны:
                </p>
              </div>
              <ul class="news-details-card__list">
                <li class="news-details-card__item">Т. Н. Хренников</li>
                <li class="news-details-card__item">О. Б. Фельцман</li>
                <li class="news-details-card__item">К. С. Хачатурян</li>
                <li class="news-details-card__item">Б. А. Чайковский</li>
                <li class="news-details-card__item">А. Н. Пахмутова</li>
                <li class="news-details-card__item">Ю. М. Чичков</li>
                <li class="news-details-card__item">С. Ю. Урбах</li>
              </ul>
              <div class="news-details-card__text">
                <p>
                  В 2019 году в городе Омске начала свою работу творческая
                  площадка «Музыкальная гостиная в Омской крепости». Площадка
                  удобна для организации выступлений, творческих встреч,
                  репетиции, презентовать концертные программы вне зависимости
                  от погодных условий в любое время года. Уникальное помещение
                  со сводчатым потолком обладает прекрасной акустикой для
                  «живых» концертов.
                </p>
              </div>
            </div>
          </article>

          @include('news-details-card-descr.html')
          @include('news-details-video.html')
          @include('news-details-quote.html')

          <div class="news-details__text">
            <p>
              С 1963 года имя Шебалина носит Музыкальное училище в Омске
              (будущий композитор учился в нём в 1920-х годах и был одним из
              первых его выпускников). Среди учеников Шебалина В.Я. крупнейшие
              композиторы страны:
            </p>
          </div>
          <ol class="news-details__list">
            <li class="news-details__item">Т. Н. Хренников</li>
            <li class="news-details__item">О. Б. Фельцман</li>
            <li class="news-details__item">К. С. Хачатурян</li>
            <li class="news-details__item">Б. А. Чайковский</li>
            <li class="news-details__item">А. Н. Пахмутова</li>
          </ol>
          <div class="news-details__text">
            <p>
              В 2019 году в городе Омске начала свою работу творческая площадка
              «Музыкальная гостиная в Омской крепости». Площадка удобна для
              организации выступлений, творческих встреч, репетиции,
              презентовать концертные программы вне зависимости от погодных
              условий в любое время года. Уникальное помещение со сводчатым
              потолком обладает прекрасной акустикой для «живых» концертов.
            </p>
          </div>

          <div class="news-details__bottom">
            <div class="tags ">
              <div class="tags__inner">
                <ul class="tags__list">
                  <li class="tags__item">
                    <a class="tags__tag" href="#">Москва</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__tag" href="#">обучение</a>
                  </li>
                  <li class="tags__item">
                    <a class="tags__tag" href="#">Экология</a>
                  </li>
                </ul>
              </div>
            </div>
            @include('actions-block.html')
          </div>
        </div>
        @include('news-details-feedback.html')
      </div>
      <div class="news-details__right">
        <div class="news-details__wrap">
          <div class="author">
            <picture>
             
              <source srcset="img/author.webp" type="image/webp" />
              <img
                class="author__img"
                loading="lazy"
                src="img/author.jpg"
                alt=""
              />
            </picture>
            <div class="author__info">
              <h4 class="author__title"><a href="#">Нагорная Елизавета</a></h4>
              <p class="author__prof">Руководитель департамента</p>
            </div>
          </div>

          <div class="reading-time">
            <div class="reading-time__time">
              <p>Время на чтение ~ <span>15</span> мин</p>
            </div>
            <div class="reading-time__date">
              <span>7 марта 2022</span>
              @include('actions-block.html')
            </div>
          </div>

          <div class="share-block">
            <p class="share-block__text">Поделиться</p>
            <div class="socials socials--white">
              <ul class="socials__list">
                <li class="socials__item">
                  <a class="socials__link socials__link--vk" href="#"></a>
                </li>
                <li class="socials__item">
                  <a class="socials__link socials__link--ok" href="#"></a>
                </li>
                <li class="socials__item">
                  <a class="socials__link socials__link--telegram" href="#"></a>
                </li>
                <li class="socials__item">
                  <a class="socials__link socials__link--rutube" href="#"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
