<section class="news-details news-details--presscenter">
  <div
    class="news-details__preview"
    style="background-image: url('img/news-presscenter-bg.jpg')"
  ></div>
  <div class="container">
    <div class="news-details__nav">
      <a class="news-details__back" href="presscenter.html">все статьи</a>
    </div>

    <div class="news-details__main">
      <div class="news-details__wrapper">
        <div class="news-details__inner">
          <h1 class="news-details__title">
            «Музыкальная мастерская Юрия Розума» <br />
            прошла в удаленных городах Ямала
          </h1>

          <div class="news-details__content">
            <div class="news-details__text">
              <p>
                В ямальских городах Ноябрьске и Муравленко завершилась работа
                «Музыкальной мастерской Юрия Розума». Её участниками стали более
                100 учеников и педагогов музыкальных школ. Для юных музыкантов
                прошли мастер-классы исполнения на рояле, гитаре, ударных
                инструментах и трубе. Преподавателями выступили музыканты и
                педагоги ведущих творческих вузов Москвы: народный артист
                России, пианист Юрий Розум, лауреат международных конкурсов,
                пианист Даниил Контуашвили, выдающийся российский гитарист
                Евгений Финкельштейн, солист оркестра Большого театра, трубач
                Евгений Гурьев и лауреат премии «Золотой талант» ударник
                Александр Компанеец.
              </p>
            </div>

            <div class="news-details__banner">
              <div class="news-details__slider swiper">
                <ul class="news-details__slides swiper-wrapper">
                  <li class="news-details__slide swiper-slide">
                    <article class="news-details-slider">
                      <div class="news-details-slider__top">
                        <picture>

                          <source
                            srcset="img/news-details-slider-presscenter/1.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/news-details-slider-presscenter/1.jpg"
                            alt=""
                          />
                        </picture>
                      </div>
                      <div class="news-details-slider__body">
                        <span class="news-details-slider__descr"
                          >Подпись к фото</span
                        >
                      </div>
                    </article>
                  </li>
                  <li class="news-details__slide swiper-slide">
                    <article class="news-details-slider">
                      <div class="news-details-slider__top">
                        <picture>

                          <source
                            srcset="img/news-details-slider-presscenter/1.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/news-details-slider-presscenter/1.jpg"
                            alt=""
                          />
                        </picture>
                      </div>
                      <div class="news-details-slider__body">
                        <span class="news-details-slider__descr"
                          >Подпись к фото</span
                        >
                      </div>
                    </article>
                  </li>
                  <li class="news-details__slide swiper-slide">
                    <article class="news-details-slider">
                      <div class="news-details-slider__top">
                        <picture>

                          <source
                            srcset="img/news-details-slider-presscenter/1.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/news-details-slider-presscenter/1.jpg"
                            alt=""
                          />
                        </picture>
                      </div>
                      <div class="news-details-slider__body">
                        <span class="news-details-slider__descr"
                          >Подпись к фото</span
                        >
                      </div>
                    </article>
                  </li>
                  <li class="news-details__slide swiper-slide">
                    <article class="news-details-slider">
                      <div class="news-details-slider__top">
                        <picture>

                          <source
                            srcset="img/news-details-slider-presscenter/1.webp"
                            type="image/webp"
                          />
                          <img
                            loading="lazy"
                            src="img/news-details-slider-presscenter/1.jpg"
                            alt=""
                          />
                        </picture>
                      </div>
                      <div class="news-details-slider__body">
                        <span class="news-details-slider__descr"
                          >Подпись к фото</span
                        >
                      </div>
                    </article>
                  </li>
                </ul>
                <div class="swiper-pagination"></div>
                <div class="news-details__actions slider-actions">
                  <div class="slider-actions__arrows">
                    <button
                      class="swiper-button-prev"
                      type="button"
                      aria-label="Предыдущий"
                    ></button>
                    <button
                      class="swiper-button-next"
                      type="button"
                      aria-label="Следуюший"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <article class="news-details-card">
            <div class="news-details-card__top">
              <h3 class="news-details-card__title">
                В Ноябрьске прошла арт-лаборатория для развития <br />
                креативного потенциала юных музыкантов.
              </h3>
              <div class="news-details-card__text">
                <p>
                  Педагоги провели занятия по развитию воображения, актерского
                  мастерства и арт-медиацию. Юные музыканты впервые дебютировали
                  в роли композиторов, создав собственные произведения и
                  представив их Юрию Розуму. Эксперты мастерской провели серию
                  творческих встреч с педагогами музыкальных школ. В завершении
                  состоялся концерт Юрия Розума и его учеников.
                </p>
                <p>
                  «Музыкальная мастерская Юрия Розума» реализуется программой
                  социальных инвестиций «Родные города» компании «Газпром нефть»
                  совместно с Международным благотворительным фондом Юрия Розума
                  с 2017 года. Проект направлен на развитие системы российского
                  музыкального образования: педагоги региональных школ искусств
                  повышают квалификацию, а юные музыканты получают возможность
                  творческого взаимодействия с признанными мастерами. В 2022
                  году география проекта расширяется – мастерская пройдет также
                  в Ханты-Мансийске, Омске и удаленных северных поселках Мыс
                  Каменный и Тазовский Ямало-Ненецкого автономного округа.
                </p>
              </div>

              <div class="news-details-card__imgs">
                <div class="news-details-img">
                  <picture>

                    <source
                      srcset="img/news-details-presscenter/1.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="img/news-details-presscenter/1.jpg"
                      alt="news"
                    />
                  </picture>

                  <div class="news-details-img__info">
                    <h4 class="news-details-img__title">Подпись к фото</h4>
                  </div>
                </div>
                <div class="news-details-img">
                  <picture>
                    
                    <source
                      srcset="img/news-details-presscenter/2.webp"
                      type="image/webp"
                    />
                    <img
                      loading="lazy"
                      src="img/news-details-presscenter/2.jpg"
                      alt="news"
                    />
                  </picture>
                  <div class="news-details-img__info">
                    <h4 class="news-details-img__title">Подпись к фото</h4>
                  </div>
                </div>
              </div>
            </div>
          </article>

          @include('news-details-quote-presscenter.html')

          <div class="news-details__company-information company-information">
            <h3 class="company-information__title">справка</h3>
            <div class="company-information__text">
              <p>
                «Музыкальная мастерская Юрия Розума» – новое название фестиваля
                «Где рождается искусство», который реализовывался программой
                социальных инвестиций «Родные города» компании «Газпром нефть» с
                2017 года. Новое название отражает образовательный и творческий
                аспекты проекта: в рамках «Музыкальной мастерской» дети не
                только выступают на одной сцене с мэтрами, но учатся вместе с
                ними и создают свои произведения.
              </p>
              <p>
                «Родные города» – программа социальных инвестиций «Газпром
                нефти», реализуемая с 2012 года. Направлена на повышение
                качества жизни в регионах деятельности компании в России и за
                рубежом через поддержку инициатив местных сообществ и
                собственные проекты в области культуры, образования, спорта и
                развития креативных индустрий. Программа ведет ряд долгосрочных
                экологических проектов.
              </p>

              <p>
                Арт-медиация – образовательный метод, сочетающий
                интеллектуальное и эмоциональное знакомство с произведениями
                искусства (живопись, фотография, музыка, архитектура и др.)
              </p>
            </div>
          </div>

          <div class="news-details__bottom">
            <div class="tags">
              <div class="tags__inner">
                <ul class="tags__list">
                  <li class="tags__item">
                    <a class="tags__tag" href="#">КУЛЬТУРА</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          @include('news-details-contacts.html')
        </div>

        @include('news-details-feedback.html')
      </div>
    </div>
  </div>
</section>
