<div class="quote">
  <blackquote class="quote__text">
    Шестой интеллектуальный турнир «Умножая таланты» расширил свой цифровой
    формат. В прошлом году включили задания по информационным технологиям, а в
    этом — расширяем возможности образовательной онлайн-площадки. Мы вводим
    новые форматы обучения, чтобы школьникам было легче и интереснее осваивать
    специальности.
  </blackquote>

  <div class="author">
    <picture>

      <source srcset="img/author.webp" type="image/webp" />
      <img class="author__img" loading="lazy" src="img/author.jpg" alt="" />
    </picture>
    <div class="author__info">
      <h4 class="author__title"><a href="#">Нагорная Елизавета</a></h4>

      <p class="author__prof">Руководитель департамента</p>
    </div>
  </div>
</div>
