<section class="news">
  <div class="container">
    <div class="news__wrapper">
      <div class="news_content">
        <h1 class="news__title">полезные материалы</h1>

        <button class="news__filters-btn" type="button">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.18188 8H11.1819"
              stroke="#E65907"
              stroke-width="2"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M17.1819 8L20.1819 8"
              stroke="#E65907"
              stroke-width="2"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M14.1819 11C15.8387 11 17.1819 9.65685 17.1819 8C17.1819 6.34315 15.8387 5 14.1819 5C12.525 5 11.1819 6.34315 11.1819 8C11.1819 9.65685 12.525 11 14.1819 11Z"
              stroke="#009AFF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4 16.0916H6"
              stroke="#E65907"
              stroke-width="2"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M12.1819 16L20.1819 16"
              stroke="#E65907"
              stroke-width="2"
              stroke-linecap="square"
              stroke-linejoin="round"
            />
            <path
              d="M9 19.0908C10.6569 19.0908 12 17.7477 12 16.0908C12 14.434 10.6569 13.0908 9 13.0908C7.34315 13.0908 6 14.434 6 16.0908C6 17.7477 7.34315 19.0908 9 19.0908Z"
              stroke="#009AFF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span> Фильтры</span>
        </button>

        <ul class="news__list">
          <li class="news__item news__item--main">
            <article class="news-card">
              <div class="news-card__top">
                <img src="img/news-bg.jpg" alt="news" />
              </div>
              <div class="news-card__tags tags swiper">
                <ul class="tags__list swiper-wrapper">
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                </ul>
              </div>
              <div class="news-card__body">
                <h3 class="news-card__title">
                  <a href="#">
                    Чем активнее горожане, тем сильнее бренд города
                  </a>
                </h3>
                <p class="news-card__text">
                  Фади Джабри, исполнительный директор архитектурного бюро
                  Nikken Sekkei, о главных трендых в развитии городов
                </p>
              </div>
              <div class="news-card__bottom">
                <div class="news-card__date">7 марта</div>

                @include('actions-block.html')
              </div>
            </article>
          </li>

          <li class="news__item">
            <article class="news-card">
              <div class="news-card__tags tags swiper">
                <ul class="tags__list swiper-wrapper">
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                </ul>
              </div>
              <div class="news-card__body">
                <h3 class="news-card__title">
                  <a href="#"> 5 крутых идей для социальных проектов </a>
                </h3>
                <p class="news-card__text">
                  Наш проект, который учит школьников применять свои знания в
                  исследованиях и решении практических задач
                </p>
              </div>
              <div class="news-card__bottom">
                <div class="news-card__date">7 марта</div>

                @include('actions-block.html')
              </div>
            </article>
          </li>

          <li class="news__item">
            <article class="news-card news-card--img">
              <div class="news-card__body">
                <div class="">
                  <div class="news-card__tags tags swiper">
                    <ul class="tags__list swiper-wrapper">
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Лучшие практики</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Лучшие практики</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Лучшие практики</a>
                      </li>
                    </ul>
                  </div>
                  <h3 class="news-card__title">
                    <a href="#">
                      Дарья Баркова, волонтер и донор: «Главное в волонтерстве —
                      принимать решения и нести за них ответственность»
                    </a>
                  </h3>
                  <p class="news-card__text">
                    Наш проект, который учит школьников применять свои знания в
                    исследованиях и решении практических задач. Наш проект,
                    который учит школьников применять свои знания в
                    исследованиях
                  </p>
                </div>
                <div class="news-card__top">
                  <img src="img/news-bg.jpg" alt="news" />
                </div>
              </div>
              <div class="news-card__bottom">
                <div class="news-card__date">7 марта</div>

                @include('actions-block.html')
              </div>
            </article>
          </li>

          <li class="news__item">
            <article class="news-card">
              <div class="news-card__tags tags swiper">
                <ul class="tags__list swiper-wrapper">
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                </ul>
              </div>
              <div class="news-card__body">
                <h3 class="news-card__title">
                  <a href="#">
                    Половина успеха: как презентовать свой проект эффективно
                  </a>
                </h3>
                <p class="news-card__text">
                  Каждый малыш нуждается в тепле и заботе, особенно, если он
                  родился раньше срока. Чтобы организм новорожденного тратил
                  энергию не на согревание тела, а на развитие, волонтеры из
                  Тюмени вяжут для них шерстяные носки, шапочки и пледы.
                </p>
              </div>
              <div class="news-card__bottom">
                <div class="news-card__date">7 марта</div>

                @include('actions-block.html')
              </div>
            </article>
          </li>

          <li class="news__item">
            <article class="news-card">
              <div class="news-card__tags tags swiper">
                <ul class="tags__list swiper-wrapper">
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                </ul>
              </div>
              <div class="news-card__body">
                <h3 class="news-card__title">
                  <a href="#"> Кит как бабочка </a>
                </h3>
                <p class="news-card__text">
                  Наш проект, который учит школьников применять свои знания в
                  исследованиях и решении практических задач
                </p>
              </div>
              <div class="news-card__bottom">
                <div class="news-card__date">7 марта</div>

                @include('actions-block.html')
              </div>
            </article>
          </li>

          <li class="news__item">
            <article class="news-card">
              <div class="news-card__tags tags">
                <div class="news-card__tags tags swiper">
                  <ul class="tags__list swiper-wrapper">
                    <li class="tags__item swiper-slide">
                      <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                    </li>
                    <li class="tags__item swiper-slide">
                      <a class="tags__tag" href="#">Лучшие практики</a>
                    </li>
                    <li class="tags__item swiper-slide">
                      <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                    </li>
                    <li class="tags__item swiper-slide">
                      <a class="tags__tag" href="#">Лучшие практики</a>
                    </li>
                    <li class="tags__item swiper-slide">
                      <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                    </li>
                    <li class="tags__item swiper-slide">
                      <a class="tags__tag" href="#">Лучшие практики</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="news-card__body">
                <h3 class="news-card__title">
                  <a href="#">
                    Как и зачем молодежь коренных народов возрождает родные
                    языки
                  </a>
                </h3>
                <p class="news-card__text">
                  Наш проект, который учит школьников применять свои знания в
                  исследованиях и решении практических задач
                </p>
              </div>
              <div class="news-card__bottom">
                <div class="news-card__date">7 марта</div>

                @include('actions-block.html')
              </div>
            </article>
          </li>

          <li class="news__item">
            <article class="news-card news-card--img">
              <div class="news-card__body">
                <div>
                  <div class="news-card__tags tags swiper">
                    <ul class="tags__list swiper-wrapper">
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Лучшие практики</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Лучшие практики</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Лучшие практики</a>
                      </li>
                    </ul>
                  </div>
                  <h3 class="news-card__title">
                    <a href="#"> Секреты воспитания от Александра Шлеменко </a>
                  </h3>
                  <p class="news-card__text">
                    Наш проект, который учит школьников применять свои знания в
                    исследованиях и решении практических задач. Наш проект,
                    который учит школьников применять свои знания в
                    исследованиях
                  </p>
                </div>
                <div class="news-card__top">
                  <img src="img/news-bg.jpg" alt="news" />
                </div>
              </div>
              <div class="news-card__bottom">
                <div class="news-card__date">7 марта</div>

                @include('actions-block.html')
              </div>
            </article>
          </li>

          <li class="news__item">
            <article class="news-card news-card--img">
              <div class="news-card__body">
                <div>
                  <div class="news-card__tags tags swiper">
                    <ul class="tags__list swiper-wrapper">
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Лучшие практики</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Лучшие практики</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                      </li>
                      <li class="tags__item swiper-slide">
                        <a class="tags__tag" href="#">Лучшие практики</a>
                      </li>
                    </ul>
                  </div>
                  <h3 class="news-card__title">
                    <a href="#"> Особенный день особенных людей </a>
                  </h3>
                  <p class="news-card__text">
                    Наш проект, который учит школьников применять свои знания в
                    исследованиях и решении практических задач
                  </p>
                </div>
                <div class="news-card__top">
                  <img src="img/news-bg.jpg" alt="news" />
                </div>
              </div>
              <div class="news-card__bottom">
                <div class="news-card__date">7 марта</div>

                @include('actions-block.html')
              </div>
            </article>
          </li>

          <li class="news__item">
            <article class="news-card">
              <div class="news-card__tags tags swiper">
                <ul class="tags__list swiper-wrapper">
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Ханты-Мансийский АО</a>
                  </li>
                  <li class="tags__item swiper-slide">
                    <a class="tags__tag" href="#">Лучшие практики</a>
                  </li>
                </ul>
              </div>
              <div class="news-card__body">
                <h3 class="news-card__title">
                  <a href="#">
                    Подкаст для социального проектирования: зачем это нужно?
                  </a>
                </h3>
                <p class="news-card__text">
                  Наш проект, который учит школьников применять свои знания в
                  исследованиях и решении практических задач
                </p>
              </div>
              <div class="news-card__bottom">
                <div class="news-card__date">7 марта</div>

                @include('actions-block.html')
              </div>
            </article>
          </li>
        </ul>

        <div class="news__pagination pagination">
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link active" href="#">1</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">3</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">4</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">5</a>
            </li>
            <li class="pagination__item pahination__item--dots">...</li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">12</a>
            </li>
          </ul>

          <div class="slider-actions">
            <div class="slider-actions__arrows">
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              ></button>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следуюший"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div class="news__filters filters-news">
        <div class="filters-news__col">
          <p class="filters-news__name">Регион</p>

          <ul class="filters-news__list">
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Все регионы</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Москва</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Омск и область</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Оренбург и область</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Томск и область</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Тюмень и область</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Санкт-Петербург</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Ханты-Мансийский АО</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Ямало-Ненецкий АО</span>
              </label>
            </li>
          </ul>
        </div>

        <div class="filters-news__col">
          <p class="filters-news__name">Тег</p>

          <ul class="filters-news__list">
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Все теги</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">#Аналитика</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">#Обучение</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">#Реальный опыт</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">#Лучшие практики</span>
              </label>
            </li>
          </ul>
        </div>

        <div class="filters-news__col">
          <p class="filters-news__name">Направление</p>

          <ul class="filters-news__list">
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Все направления</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Комфортная среда</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Культура</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Образование</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Спорт</span>
              </label>
            </li>
            <li class="filters-news__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box checkbox__box--green"></span>
                <span class="checkbox__text">Экология</span>
              </label>
            </li>
          </ul>
        </div>

        <div class="filters-news__col">
          <button class="filters-news__date" type="button">
            <img src="img/calendar.svg" width="24" height="24" alt="дата" />
            <span>Дата</span>
          </button>
        </div>

        <button
          class="filters-news__close"
          type="button"
          aria-label="Закрыть фильтры"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 6L18 18"
              stroke="#0F0F0F"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M18 6L6 18"
              stroke="#0F0F0F"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
