<section class="partners">
  <div class="container">
    <h2 class="visually-hidden">Партнеры</h2>
    <div class="partners__slider swiper">
      <ul class="partners__slides swiper-wrapper">
        <li class="partners__slide swiper-slide">
          <div class="partners-card">
            <picture>
              <source srcset="img/partners/1.webp" type="image/webp" />
              <img loading="lazy" src="img/partners/1.png" alt="partners" />
            </picture>
          </div>
        </li>
        <li class="partners__slide swiper-slide">
          <div class="partners-card">
            <picture>
              <source srcset="img/partners/2.webp" type="image/webp" />
              <img loading="lazy" src="img/partners/2.png" alt="partners" />
            </picture>
          </div>
        </li>
        <li class="partners__slide swiper-slide">
          <div class="partners-card">
            <picture>
              <source srcset="img/partners/3.webp" type="image/webp" />
              <img loading="lazy" src="img/partners/3.png" alt="partners" />
            </picture>
          </div>
        </li>
        <li class="partners__slide swiper-slide">
          <div class="partners-card">
            <picture>
              <source srcset="img/partners/4.webp" type="image/webp" />
              <img loading="lazy" src="img/partners/4.png" alt="partners" />
            </picture>
          </div>
        </li>
        <li class="partners__slide swiper-slide">
          <div class="partners-card">
            <picture>
              <source srcset="img/partners/5.webp" type="image/webp" />
              <img loading="lazy" src="img/partners/5.png" alt="partners" />
            </picture>
          </div>
        </li>
        <li class="partners__slide swiper-slide">
          <div class="partners-card">
            <picture>
              <source srcset="img/partners/6.webp" type="image/webp" />
              <img loading="lazy" src="img/partners/6.png" alt="partners" />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
