<section class="posts">
  <div class="container container--fluid">
    <div class="posts__top">
      <h2 class="posts__title">мы в социальных сетях</h2>

      <div class="socials socials--white">
        <ul class="socials__list">
          <li class="socials__item">
            <a class="socials__link socials__link--vk" href="#"></a>
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--ok" href="#"></a>
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--telegram" href="#"></a>
          </li>
          <li class="socials__item">
            <a class="socials__link socials__link--rutube" href="#"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="posts__content">
      <div class="posts__slider swiper">
        <ul class="posts__slides swiper-wrapper">
          <li class="posts__slide swiper-slide">
            <article class="posts-card posts-card--video">
              <a
                class="posts-card__badge badge badge--vk"
                href="#"
                target="_blank"
                aria-label="Смотреть в вк"
              ></a>
              <div class="posts-card__top">
                <picture>

                  <source srcset="img/posts/1.webp" type="image/webp" />
                  <img loading="lazy" src="img/posts/1.jpg" alt="" />
                </picture>
                <div
                  data-fancybox
                  data-src="https://www.youtube.com/watch?v=XAPfNPIvWkM"
                >
                  <button
                    class="play play--small"
                    type="button"
                    aria-label="Запустить видео"
                  ></button>
                </div>
              </div>
              <div class="posts-card__body">
                <div class="posts-card__text">
                  <a href="#">
                    Что увозят с собой туристы в память о вашем родном городе?
                    Оренбургский платок? Тульский пряник? А может, что-то еще?
                  </a>
                </div>

                <div class="posts-card__date">
                  <span>28 апреля</span> <span>11:03</span>
                </div>
              </div>
            </article>
          </li>
          <li class="posts__slide swiper-slide">
            <article class="posts-card">
              <a
                class="posts-card__badge badge badge--vk"
                href="#"
                target="_blank"
                aria-label="Смотреть в вк"
              ></a>
              <div class="posts-card__top">
                <picture>

                  <source srcset="img/posts/2.webp" type="image/webp" />
                  <img loading="lazy" src="img/posts/2.jpg" alt="posts" />
                </picture>
              </div>
              <div class="posts-card__body">
                <div class="posts-card__text">
                  <a href="#">
                    Сделать город чище, а район ухоженнее — в ваших руках!
                  </a>
                </div>
                <div class="posts-card__date">
                  <span>28 апреля</span> <span>11:03</span>
                </div>
              </div>
            </article>
          </li>
          <li class="posts__slide swiper-slide">
            <article class="posts-card posts-card--video">
              <a
                class="posts-card__badge badge badge--vk"
                href="#"
                target="_blank"
                aria-label="Смотреть в вк"
              ></a>
              <div class="posts-card__top">
                <picture>

                  <source srcset="img/posts/3.webp" type="image/webp" />
                  <img loading="lazy" src="img/posts/3.jpg" alt="" />
                </picture>

                <div
                  data-fancybox
                  data-src="https://www.youtube.com/watch?v=XAPfNPIvWkM"
                >
                  <button
                    class="play play--small"
                    type="button"
                    aria-label="Запустить видео"
                  ></button>
                </div>
              </div>
              <div class="posts-card__body">
                <div class="posts-card__text">
                  <a href="#">
                    Любое публичное выступление — это очень волнительно. Ты
                    старался, репетировал — а вдруг зрителям не понравится? Что,
                    если эксперт раскритикует презентацию?
                  </a>
                </div>
                <div class="posts-card__date">
                  <span>28 апреля</span> <span>11:03</span>
                </div>
              </div>
            </article>
          </li>
          <li class="posts__slide swiper-slide">
            <article class="posts-card posts-card--video">
              <a
                class="posts-card__badge badge badge--rutube"
                href="#"
                target="_blank"
                aria-label="Смотреть в вк"
              ></a>
              <div class="posts-card__top">
                <picture>

                  <source srcset="img/posts/1.webp" type="image/webp" />
                  <img loading="lazy" src="img/posts/1.jpg" alt="" />
                </picture>
                <div
                  data-fancybox
                  data-src="https://www.youtube.com/watch?v=XAPfNPIvWkM"
                >
                  <button
                    class="play play--small"
                    type="button"
                    aria-label="Запустить видео"
                  ></button>
                </div>
              </div>
              <div class="posts-card__body">
                <div class="posts-card__text">
                  <a href="#">
                    Что увозят с собой туристы в память о вашем родном городе?
                    Оренбургский платок? Тульский пряник? А может, что-то еще?
                  </a>
                </div>
                <div class="posts-card__date">
                  <span>28 апреля</span> <span>11:03</span>
                </div>
              </div>
            </article>
          </li>
          <li class="posts__slide swiper-slide">
            <article class="posts-card posts-card--video">
              <a
                class="posts-card__badge badge badge--vk"
                href="#"
                target="_blank"
                aria-label="Смотреть в вк"
              ></a>
              <div class="posts-card__top">
                <picture>
                  <source srcset="img/posts/3.webp" type="image/webp" />
                  <img loading="lazy" src="img/posts/3.jpg" alt="" />
                </picture>

                <div
                  data-fancybox
                  data-src="https://www.youtube.com/watch?v=XAPfNPIvWkM"
                >
                  <button
                    class="play play--small"
                    type="button"
                    aria-label="Запустить видео"
                  ></button>
                </div>
              </div>
              <div class="posts-card__body">
                <div class="posts-card__text">
                  <a href="#">
                    Любое публичное выступление — это очень волнительно. Ты
                    старался, репетировал — а вдруг зрителям не понравится? Что,
                    если эксперт раскритикует презентацию?
                  </a>
                </div>
                <div class="posts-card__date">
                  <span>28 апреля</span> <span>11:03</span>
                </div>
              </div>
            </article>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
        <div class="posts__actions slider-actions">
          <div class="slider-actions__arrows">
            <button
              class="swiper-button-prev"
              type="button"
              aria-label="Предыдущий"
            ></button>
            <button
              class="swiper-button-next"
              type="button"
              aria-label="Следуюший"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
