<section class="presskit" id="presskit">
  <div class="container">
    <h2 class="presskit__title">ПРЕСС-КИТ</h2>

    <ul class="presskit__list">
      <li class="presskit__item">
        <a
          class="presskit-download"
          href="img/logo_white_cyrillic_color.png"
          download
        >
          <span class="presskit-download__btn">PNG</span>
          <span class="presskit-download__name">
            Логотип. Кирилическая версия. Цветной.
          </span>
          <small class="presskit-download__size">96 кб</small>
        </a>
      </li>
      <li class="presskit__item">
        <a
          class="presskit-download"
          href="img/logo_latin_color.png"
          download
        >
          <span class="presskit-download__btn">PNG</span>
          <span class="presskit-download__name">
            Логотип. Латинская версия. Цветной.
          </span>
          <small class="presskit-download__size">96 кб</small>
        </a>
      </li>
      <li class="presskit__item">
        <a
          class="presskit-download"
          href="img/logo_white_cyrillic.png"
          download
        >
          <span class="presskit-download__btn">PNG</span>
          <span class="presskit-download__name">
            Логотип. Кирилица. Белый.
          </span>
          <small class="presskit-download__size">59 кб</small>
        </a>
      </li>
      <li class="presskit__item">
        <a
          class="presskit-download"
          href="img/logo_white_latin.png"
          download
        >
          <span class="presskit-download__btn">PNG</span>
          <span class="presskit-download__name">
            Логотип. Латиница. Белый.
          </span>
          <small class="presskit-download__size">82 кб</small>
        </a>
      </li>
      <li class="presskit__item">
        <a
          class="presskit-download"
          href="img/logo_white_cyrillic_dark_background.jpg"
          download
        >
          <span class="presskit-download__btn">jpg</span>
          <span class="presskit-download__name">
            Логотип. Кирилица. Белый, на темном фоне.
          </span>
          <small class="presskit-download__size">117 кб</small>
        </a>
      </li>
      <li class="presskit__item">
        <a
          class="presskit-download"
          href="img/logo_white_latin_dark_background.jpg"
          download
        >
          <span class="presskit-download__btn">jpg</span>
          <span class="presskit-download__name">
            Логотип. Латиница. Белый, на темном фоне.
          </span>
          <small class="presskit-download__size">119 кб</small>
        </a>
      </li>
      <li class="presskit__item">
        <a
          class="presskit-download"
          href="img/logo_black_cyrillic.png"
          download
        >
          <span class="presskit-download__btn">png</span>
          <span class="presskit-download__name">
            Логотип. Кирилица. Черный.
          </span>
          <small class="presskit-download__size">62 кб</small>
        </a>
      </li>
      <li class="presskit__item">
        <a
          class="presskit-download"
          href="pdf/instructions_for_use.pdf"
          download
        >
          <span class="presskit-download__btn">pdf</span>
          <span class="presskit-download__name">
            Руководство по использованию.
          </span>
          <small class="presskit-download__size">6,66 мб</small>
        </a>
      </li>
    </ul>

    <div class="company-information">
      <h3 class="company-information__title">справка о компании</h3>
      <div class="company-information__text">
        <p>
          «Родные города» — программа социальных инвестиций «Газпром нефти»,
          реализуемая с 2012 года. Направлена на повышение качества жизни в
          регионах деятельности компании в России и за рубежом через поддержку
          социальных инициатив в области культуры, образования, экологии, спорта
          и развития креативных индустрий.
        </p>
      </div>
    </div>
  </div>
</section>
