<section class="program-promo">
  <div class="container">
    <div class="program-promo__top">
      <h1 class="program-promo__title">РОДНЫЕ ГОРОДА</h1>
      <p>Программа социальных инвестиций «Газпром нефти»</p>
    </div>
    <div class="program-promo__inner">
      <div class="program-promo__col">
        <picture>
          <source srcset="img/program-promo/1.webp" type="image/webp" />
          <img
            class="program-promo__img"
            loading="lazy"
            src="img/program-promo/1.jpg"
            alt="promo"
          />
        </picture>

        <p class="program-promo__text">
          Предоставляем инструменты для развития и самореализации людям, которые
          хотят изменить окружающий мир к лучшему
        </p>
      </div>
      <div class="program-promo__col">
        <picture>
          <source srcset="img/program-promo/2.webp" type="image/webp" />
          <img
            class="program-promo__img"
            loading="lazy"
            src="img/program-promo/2.jpg"
            alt="promo"
          />
        </picture>

        <p class="program-promo__text">
          В 2012 году «Газпром нефть» первой среди бизнес-лидеров России
          объединила свои социальные проекты в гуманитарную программу «Родные
          города». Задача программы — повышать качество жизни в регионах
          деятельности компании в России и за рубежом через поддержку социальных
          инициатив местных сообществ и реализацию собственных проектов.
        </p>
      </div>
    </div>
  </div>
</section>
