<section class="program-activities">
  <div class="container">
    <h2 class="program-activities__title">НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ</h2>

    <div class="program-activities__accordions">
      <div class="program-activities__accordion accordion">
        <div class="program-activities__content accordion-content">
          <div class="grants">
            <div class="grants__inner">
              <div class="grants__left">
                <h3 class="grants__title">Волонтерское движение</h3>
                <p class="grants__text">
                  Поддерживаем грантами местные инициативы, направленные на
                  системные, инновационные и эффективные социальные
                  преобразования, соответствующие ключевым направлениям
                  программы "Родные города". С 2013 года поддержали более 900
                  социальных проектов неравнодушных жителей регионов.
                </p>
              </div>
              <picture>

                <source
                  srcset="img/program-activities/1.webp"
                  type="image/webp"
                />
                <img
                  class="grants__img"
                  loading="lazy"
                  src="img/program-activities/1.jpg"
                  alt="grants"
                />
              </picture>
            </div>
          </div>
        </div>

        <button class="program-activities__control accordion-control">
          Волонтерское движение
        </button>
      </div>
      <div class="program-activities__accordion accordion">
        <div class="program-activities__content accordion-content">
          <div class="grants">
            <div class="grants__inner">
              <div class="grants__left">
                <h3 class="grants__title">
                  Создание социальной инфраструктуры
                </h3>
                <p class="grants__text">
                  Поддерживаем грантами местные инициативы, направленные на
                  системные, инновационные и эффективные социальные
                  преобразования, соответствующие ключевым направлениям
                  программы "Родные города". С 2013 года поддержали более 900
                  социальных проектов неравнодушных жителей регионов.
                </p>
              </div>
              <picture>

                <source
                  srcset="img/program-activities/2.webp"
                  type="image/webp"
                />
                <img
                  class="grants__img"
                  loading="lazy"
                  src="img/program-activities/2.jpg"
                  alt="grants"
                />
              </picture>
            </div>
          </div>
        </div>

        <button class="program-activities__control accordion-control">
          Создание социальной инфраструктуры
        </button>
      </div>
      <div class="program-activities__accordion accordion">
        <div class="program-activities__content accordion-content">
          <div class="grants">
            <div class="grants__inner">
              <div class="grants__left">
                <h3 class="grants__title">
                  Международные и всероссийские проекты
                </h3>
                <p class="grants__text">
                  Поддерживаем грантами местные инициативы, направленные на
                  системные, инновационные и эффективные социальные
                  преобразования, соответствующие ключевым направлениям
                  программы "Родные города". С 2013 года поддержали более 900
                  социальных проектов неравнодушных жителей регионов.
                </p>
              </div>
              <picture>

                <source
                  srcset="img/program-activities/3.webp"
                  type="image/webp"
                />
                <img
                  class="grants__img"
                  loading="lazy"
                  src="img/program-activities/3.jpg"
                  alt="grants"
                />
              </picture>
            </div>
          </div>
        </div>

        <button class="program-activities__control accordion-control">
          Международные и всероссийские проекты
        </button>
      </div>
      <div class="program-activities__accordion accordion">
        <div class="program-activities__content accordion-content">
          <div class="grants">
            <div class="grants__inner">
              <div class="grants__left">
                <h3 class="grants__title">Поддержка народов севера</h3>
                <p class="grants__text">
                  Поддерживаем грантами местные инициативы, направленные на
                  системные, инновационные и эффективные социальные
                  преобразования, соответствующие ключевым направлениям
                  программы "Родные города". С 2013 года поддержали более 900
                  социальных проектов неравнодушных жителей регионов.
                </p>
              </div>
              <picture>

                <source
                  srcset="img/program-activities/4.webp"
                  type="image/webp"
                />
                <img
                  class="grants__img"
                  loading="lazy"
                  src="img/program-activities/4.jpg"
                  alt="grants"
                />
              </picture>
            </div>
          </div>
        </div>

        <button class="program-activities__control accordion-control">
          Поддержка народов севера
        </button>
      </div>
      <div class="program-activities__accordion accordion">
        <div class="program-activities__content accordion-content">
          <div class="grants">
            <div class="grants__inner">
              <div class="grants__left">
                <h3 class="grants__title">Сообщество неравнодушных людей</h3>
                <p class="grants__text">
                  Поддерживаем грантами местные инициативы, направленные на
                  системные, инновационные и эффективные социальные
                  преобразования, соответствующие ключевым направлениям
                  программы "Родные города". С 2013 года поддержали более 900
                  социальных проектов неравнодушных жителей регионов.
                </p>
              </div>
              <picture>
                
                <source
                  srcset="img/program-activities/5.webp"
                  type="image/webp"
                />
                <img
                  class="grants__img"
                  loading="lazy"
                  src="img/program-activities/5.jpg"
                  alt="grants"
                />
              </picture>
            </div>
          </div>
        </div>

        <button class="program-activities__control accordion-control bb">
          Сообщество неравнодушных людей
        </button>
      </div>
    </div>
  </div>
</section>
