<section class="program-descr">
  <div class="container">
    <picture>
      <source srcset="img/program-img.webp" type="image/webp" />
      <img
        class="program-descr__img"
        loading="lazy"
        src="img/program-img.jpg"
        alt=""
      />
    </picture>

    <div class="program-descr__quote program-quote">
      <div class="program-quote__inner">
        <div class="program-quote__author">
          <div class="program-quote__img">
            <picture>
              <source
                srcset="img/program-quote-author-img.webp"
                type="image/webp"
              />
              <img
                loading="lazy"
                src="img/program-quote-author-img.jpg"
                alt="А.В.Дюков"
              />
            </picture>
          </div>
          <span class="program-quote__name">А.В.Дюков</span>
          <span class="program-quote__prof">
            Председатель правления <br />
            «Газпром Нефти»
          </span>
        </div>

        <div class="program-quote__right">
          <blockquote class="program-quote__text">
            <p>
              Несколько лет назад «Газпром нефть» объединила свои социальные
              проекты в комплексную программу «Родные города». Мы перешли от
              поддержки отдельных проектов к концепции социальных инвестиций для
              системного роста качества жизни в регионах деятельности компании.
            </p>
            <p>
              Очевидно, что успех в решении этой задачи во многом зависит от
              степени вовлеченности самих жителей в процесс позитивных
              изменений. Программа социальных инвестиций «Родные города»
              предоставляет инструменты для развития и самореализации людям,
              которые хотят изменять окружающий мир к лучшему и создавать
              гармоничную среду вокруг себя. Через грантовые конкурсы социальных
              инициатив, образовательные проекты, систему корпоративного
              волонтерства мы инвестируем в развитие человеческого капитала.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
