<section class="program-numbers">
  <div class="container">
    <ul class="program-numbers__list">
      <li class="program-numbers__item">
        <span
          class="program-numbers__number program-numbers__number--blue-light"
        >
          3 000
        </span>
        <p class="program-numbers__text">Реализованных социальных проектов</p>
      </li>
      <li class="program-numbers__item">
        <span class="program-numbers__number program-numbers__number--blue">
          900
        </span>
        <p class="program-numbers__text">
          Проектов поддержано в грантовом конкурсе
        </p>
      </li>
      <li class="program-numbers__item">
        <span class="program-numbers__number program-numbers__number--green">
          500
        </span>
        <p class="program-numbers__text">
          Инфраструктурных объектов отремонтировано и построено
        </p>
      </li>
      <li class="program-numbers__item">
        <span class="program-numbers__number program-numbers__number--red">
          50
        </span>
        <p class="program-numbers__text">Городов участвуют в программе</p>
      </li>
    </ul>
  </div>
</section>
