<section class="program-descr program-descr--musical">
  <div class="container">
    <div class="program-descr__quote program-quote program-quote--musical">
      <div class="program-quote__inner">
        <div class="program-quote__author">
          <div class="program-quote__img">
            <picture>
              <source srcset="img/musical-author.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/musical-author.jpg"
                alt="Юрий Розум"
              />
            </picture>
          </div>
          <span class="program-quote__name">Юрий Розум</span>
          <span class="program-quote__prof">
            народный артист России, профессор <br />
            Российской академии музыки им. Гнесиных
          </span>
        </div>

        <div class="program-quote__right">
          <blockquote class="program-quote__text">
            <p>
              В методике преподавания должно быть больше свободы. Ведь каждый
              ученик — индивидуален. Кому-то нужно все детально объяснять, а
              кому-то, наоборот, дать как можно больше произведений для
              самостоятельной работы. Музыка возникла из любви, говорит о любви
              и преподаваться должна тоже с любовью. Поэтому главная задача
              «Музыкальной мастерской» – формирование этого эмоционального
              подхода к преподаванию на основе обмена профессиональными
              навыками, знаниями, опытом и секретами мастерства.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
