<section class="program-descr program-descr--math">
  <div class="container">
    <div class="program-descr__quote program-quote program-quote--math">
      <div class="program-quote__inner">
        <div class="program-quote__author">
          <div class="program-quote__img">
            <picture>
              <source srcset="img/author-math.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/author-math.jpg"
                alt="Станислав Смирнов"
              />
            </picture>
          </div>
          <span class="program-quote__name">Станислав Смирнов</span>
          <span class="program-quote__prof">
            научный руководитель Лаборатории <br />
            им. П. Л. Чебышёва и факультета математики <br />
            и компьютерных наук СПбГУ, профессор <br />
            университета Женевы, посол программы <br />
            «Родные города»
          </span>
        </div>

        <div class="program-quote__right">
          <blockquote class="program-quote__text">
            <p>
              На мой взгляд, наука сегодня имеет большое прикладное значение. Мы
              понимаем, что все проблемы, которые стоят перед человечеством, не
              решить без её помощи. Сейчас в ней столько интересного, и я
              считаю, что у всех есть способности к наукам, главное их вовремя
              заметить и развить. Внутри математики есть разные области — если
              всё пробовать, можно найти то, что тебе подходит.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
