<section class="program-descr program-descr--kustendorf">
  <div class="container">
    <div class="program-descr__quote program-quote program-quote--musical">
      <div class="program-quote__inner">
        <div class="program-quote__author">
          <div class="program-quote__img">
            <picture>
              <source srcset="img/author-kustendorf.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/author-kustendorf.jpg"
                alt="ЭМИР КУСТУРИЦА"
              />
            </picture>
          </div>
          <span class="program-quote__name">Эмир Кустурица</span>
          <span class="program-quote__prof">
            учредитель фестиваля Kustendorf CLASSIC, <br />
            режиссёр и актёр, обладатель двух <br />
            кинопремий «Золотая пальмовая ветвь»
          </span>
        </div>

        <div class="program-quote__right">
          <blockquote class="program-quote__text">
            <p>
              Всё, что мы здесь делаем, – огромная гордость. Музыка даёт нам
              возможность уйти от ограничений и почувствовать настоящую свободу.
              Эта независимость духа уже несколько лет подряд наполняет Дрвенград.
              Символ фестиваля – музыкальная матрёшка, которая отражает
              всеславянское единство и свободу музыкального выражения.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
