<section class="projects-grant">
  <div class="container">
    <div class="projects-grant__top">
      <h2 class="projects-grant__title">ГРАНТОВЫЕ ПРОЕКТЫ ПОБЕДИТЕЛЕЙ</h2>

      <div class="slider-actions">
        <div class="slider-actions__arrows">
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следуюший"
          ></button>
        </div>
      </div>
    </div>

    <div class="projects-grant__content">
      <div class="projects-grant__slider swiper">
        <ul class="projects-grant__slides swiper-wrapper">
          <li class="projects-grant__slide swiper-slide">
            <article class="projects-card">
              <div class="projects-card__top">
                <picture>

                  <source
                    srcset="img/projects-grant/1.webp"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="img/projects-grant/1.jpg"
                    alt="projects"
                  />
                </picture>
              </div>
              <div class="projects-card__body">
                <a class="projects-card__tag" href="#">#спорт</a>
                <h3 class="projects-card__title">
                  <a href="#">Шторм Fest – фестиваль здорового образа жизни</a>
                </h3>
                <div class="projects-card__text">
                  <p>
                    Шторм Fest – фестиваль здорового образа жизни, на котором
                    ежегодно собирается более 30 тысяч гостей
                  </p>
                </div>
                <a class="projects-card__btn btn btn--bordered" href="#">
                  подробнее
                </a>
              </div>
            </article>
          </li>
          <li class="projects-grant__slide swiper-slide">
            <article class="projects-card">
              <div class="projects-card__top">
                <picture>

                  <source
                    srcset="img/projects-grant/2.webp"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="img/projects-grant/2.jpg"
                    alt="projects"
                  />
                </picture>
              </div>
              <div class="projects-card__body">
                <a class="projects-card__tag" href="#">#спорт</a>
                <h3 class="projects-card__title">
                  <a href="#">«Шторм» - профессиональная команда борцов ММА</a>
                </h3>
                <div class="projects-card__text">
                  <p>
                    «Шторм» - профессиональная команда борцов ММА. Многие
                    ученики стали призерами M-1 и Bellator
                  </p>
                </div>
                <a class="projects-card__btn btn btn--bordered" href="#">
                  подробнее
                </a>
              </div>
            </article>
          </li>
          <li class="projects-grant__slide swiper-slide">
            <article class="projects-card">
              <div class="projects-card__top">
                <picture>

                  <source
                    srcset="img/projects-grant/3.webp"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="img/projects-grant/3.jpg"
                    alt="projects"
                  />
                </picture>
              </div>
              <div class="projects-card__body">
                <a class="projects-card__tag" href="#">#спорт</a>
                <h3 class="projects-card__title">
                  <a href="#"
                    >SFC – промоушен Shlemenko Fighting Championship</a
                  >
                </h3>
                <div class="projects-card__text">
                  <p>
                    SFC – промоушен Shlemenko Fighting Championship, проведено
                    уже четыре турнира с участием международных бойцов
                  </p>
                </div>
                <a class="projects-card__btn btn btn--bordered" href="#">
                  подробнее
                </a>
              </div>
            </article>
          </li>
          <li class="projects-grant__slide swiper-slide">
            <article class="projects-card">
              <div class="projects-card__top">
                <picture>

                  <source
                    srcset="img/projects-grant/1.webp"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="img/projects-grant/1.jpg"
                    alt="projects"
                  />
                </picture>
              </div>
              <div class="projects-card__body">
                <a class="projects-card__tag" href="#">#спорт</a>
                <h3 class="projects-card__title">
                  <a href="#">Шторм Fest – фестиваль здорового образа жизни</a>
                </h3>
                <div class="projects-card__text">
                  <p>
                    Шторм Fest – фестиваль здорового образа жизни, на котором
                    ежегодно собирается более 30 тысяч гостей
                  </p>
                </div>
                <a class="projects-card__btn btn btn--bordered" href="#">
                  подробнее
                </a>
              </div>
            </article>
          </li>
          <li class="projects-grant__slide swiper-slide">
            <article class="projects-card">
              <div class="projects-card__top">
                <picture>

                  <source
                    srcset="img/projects-grant/2.webp"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="img/projects-grant/2.jpg"
                    alt="projects"
                  />
                </picture>
              </div>
              <div class="projects-card__body">
                <a class="projects-card__tag" href="#">#спорт</a>
                <h3 class="projects-card__title">
                  <a href="#">«Шторм» - профессиональная команда борцов ММА</a>
                </h3>
                <div class="projects-card__text">
                  <p>
                    «Шторм» - профессиональная команда борцов ММА. Многие
                    ученики стали призерами M-1 и Bellator
                  </p>
                </div>
                <a class="projects-card__btn btn btn--bordered" href="#">
                  подробнее
                </a>
              </div>
            </article>
          </li>
          <li class="projects-grant__slide swiper-slide">
            <article class="projects-card">
              <div class="projects-card__top">
                <picture>
               
                  <source
                    srcset="img/projects-grant/3.webp"
                    type="image/webp"
                  />
                  <img
                    loading="lazy"
                    src="img/projects-grant/3.jpg"
                    alt="projects"
                  />
                </picture>
              </div>
              <div class="projects-card__body">
                <a class="projects-card__tag" href="#">#спорт</a>
                <h3 class="projects-card__title">
                  <a href="#"
                    >SFC – промоушен Shlemenko Fighting Championship</a
                  >
                </h3>
                <div class="projects-card__text">
                  <p>
                    SFC – промоушен Shlemenko Fighting Championship, проведено
                    уже четыре турнира с участием международных бойцов
                  </p>
                </div>
                <a class="projects-card__btn btn btn--bordered" href="#">
                  подробнее
                </a>
              </div>
            </article>
          </li>
        </ul>
      </div>

      <div class="projects-grant__bottom">
        <a class="projects-grant__btn btn btn--bordered" href="#"
          >СМОТРЕТЬ ЕЩЕ</a
        >
      </div>
    </div>
  </div>
</section>
