<section class="projects">
  <div class="container container--fluid">
    <h2 class="projects__title">проекты</h2>

    <div class="projects-top">
      <ul class="projects-top__list">
        <li class="projects-top__item">
          <button class="projects-top__btn" type="button">
            <span>Спорт</span>

            <svg
              class="icon icon-sport"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.3316 33.2761C13.136 33.2761 15.4094 31.0027 15.4094 28.1983C15.4094 25.394 13.136 23.1206 10.3316 23.1206C7.52728 23.1206 5.25391 25.394 5.25391 28.1983C5.25391 31.0027 7.52728 33.2761 10.3316 33.2761Z"
                stroke="#009AFF"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M29.6659 33.2761C32.4702 33.2761 34.7436 31.0027 34.7436 28.1983C34.7436 25.394 32.4702 23.1206 29.6659 23.1206C26.8615 23.1206 24.5881 25.394 24.5881 28.1983C24.5881 31.0027 26.8615 33.2761 29.6659 33.2761Z"
                stroke="#009AFF"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M29.6648 19.0576V28.1983"
                stroke="#009AFF"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M19.8482 31.4604V24.3243L14.5818 19.0579L19.8482 13.7915L25.1146 19.0579H32.6521"
                stroke="#4DD6CB"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M26.4436 13.104C28.2054 13.104 29.6335 11.6758 29.6335 9.91406C29.6335 8.1523 28.2054 6.72412 26.4436 6.72412C24.6818 6.72412 23.2537 8.1523 23.2537 9.91406C23.2537 11.6758 24.6818 13.104 26.4436 13.104Z"
                stroke="#E65907"
                stroke-width="3"
                stroke-miterlimit="10"
              />
            </svg>
          </button>

          <div class="tooltip">
            <span></span>
            <div class="tooltip__text">
              <p>
                Проекты по созданию и развитию в родных городах
                культурно-досуговых мест
              </p>
            </div>
          </div>
        </li>
        <li class="projects-top__item">
          <button class="projects-top__btn" type="button">
            <span>Культура</span>

            <svg
              class="icon icon-culture"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M30.7048 7.69287V25.5905"
                stroke="#4DD6CB"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M15.6526 29.1289V7.69287"
                stroke="#009AFF"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M30.7038 7.69287H15.6526"
                stroke="#E65907"
                stroke-width="3"
                stroke-miterlimit="10"
                stroke-linecap="square"
              />
              <path
                d="M27.5262 28.5402C29.2818 28.5402 30.705 27.117 30.705 25.3614C30.705 23.6058 29.2818 22.1826 27.5262 22.1826C25.7706 22.1826 24.3474 23.6058 24.3474 25.3614C24.3474 27.117 25.7706 28.5402 27.5262 28.5402Z"
                stroke="#009AFF"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M12.474 32.3078C14.2296 32.3078 15.6528 30.8846 15.6528 29.129C15.6528 27.3734 14.2296 25.9502 12.474 25.9502C10.7184 25.9502 9.29517 27.3734 9.29517 29.129C9.29517 30.8846 10.7184 32.3078 12.474 32.3078Z"
                stroke="#4DD6CB"
                stroke-width="3"
                stroke-miterlimit="10"
              />
            </svg>
          </button>
          <div class="tooltip">
            <div class="tooltip__text">
              <p>
                Проекты по созданию и развитию в родных городах
                культурно-досуговых мест
              </p>
            </div>
          </div>
        </li>
        <li class="projects-top__item">
          <button class="projects-top__btn" type="button">
            <span>Образование</span>
            <svg
              class="icon icon-education"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.16772 28.8874V7.69458H13.2229C16.4189 7.69458 18.3993 9.68018 18.3993 12.5126"
                stroke="#009AFF"
                stroke-width="3"
                stroke-miterlimit="10"
                stroke-linecap="square"
              />
              <path
                d="M18.4001 33.7056C18.4001 30.872 20.3813 28.8872 23.5773 28.8872H26.2237"
                stroke="#4DD6CB"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M31.6333 17.541V7.69458H23.5781C20.3821 7.69458 18.4001 9.68018 18.4001 12.5126V33.7058"
                stroke="#4DD6CB"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M33.5487 17.2319H27.5063C27.1662 17.2319 26.84 17.367 26.5995 17.6075C26.359 17.848 26.2239 18.1742 26.2239 18.5143V30.8275C26.2239 31.167 26.3587 31.4926 26.5988 31.7326C26.8388 31.9727 27.1644 32.1075 27.5039 32.1075H33.5523C33.8918 32.1075 34.2173 31.9727 34.4574 31.7326C34.6974 31.4926 34.8323 31.167 34.8323 30.8275V18.5143C34.8322 18.3458 34.799 18.179 34.7344 18.0234C34.6699 17.8677 34.5753 17.7263 34.4561 17.6072C34.3369 17.4881 34.1954 17.3937 34.0397 17.3293C33.884 17.2649 33.7172 17.2318 33.5487 17.2319V17.2319Z"
                stroke="#E65907"
                stroke-width="3"
                stroke-miterlimit="10"
                stroke-linecap="square"
              />
              <path
                d="M26.2239 30.5102V18.8274"
                stroke="#009AFF"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M34.8323 18.8274V30.5102"
                stroke="#009AFF"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M18.3993 33.7056C18.3993 30.872 16.4181 28.8872 13.2221 28.8872H5.16772"
                stroke="#009AFF"
                stroke-width="3"
                stroke-miterlimit="10"
              />
            </svg>
          </button>
          <div class="tooltip">
            <div class="tooltip__text">
              <p>
                Проекты по созданию и развитию в родных городах
                культурно-досуговых мест
              </p>
            </div>
          </div>
        </li>
        <li class="projects-top__item">
          <button class="projects-top__btn" type="button">
            <span>Комфортная среда</span>

            <svg
              class="icon icon-environment"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.83325 14.1096H16.4033"
                stroke="#4DD6CB"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M5.83325 20.5256H16.4033"
                stroke="#4DD6CB"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M5.83325 26.9426H16.4033"
                stroke="#4DD6CB"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M28.4175 33.6957C28.4175 29.8957 26.1375 27.1357 21.2727 27.1357"
                stroke="#4DD6CB"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M21.2727 21.675L27.7191 17.323L34.1655 21.675V33.6958"
                stroke="#E65907"
                stroke-width="3"
                stroke-miterlimit="10"
              />
              <path
                d="M21.2737 33.6963V7.70435H5.83325V33.6959"
                stroke="#009AFF"
                stroke-width="3"
                stroke-miterlimit="10"
              />
            </svg>
          </button>
          <div class="tooltip">
            <div class="tooltip__text">
              <p>
                Проекты по созданию и развитию в родных городах
                культурно-досуговых мест
              </p>
            </div>
          </div>
        </li>
        <li class="projects-top__item">
          <button class="projects-top__btn" type="button">
            <span>Экология</span>

            <svg
              class="icon icon-ecology"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M24.3549 15.8085C24.3549 18.8965 22.4049 20.5433 19.9997 20.5433C17.5945 20.5433 15.6445 18.8965 15.6445 15.8085C15.6445 11.9685 19.9997 6.32251 19.9997 6.32251C19.9997 6.32251 24.3549 11.9689 24.3549 15.8085Z"
                stroke="#009AFF"
                stroke-width="3"
                stroke-miterlimit="10"
                stroke-linecap="square"
              />
              <path
                d="M20 33.3647V31.8963C20 27.2735 15.2884 23.5259 10.6656 23.5259H8.89478"
                stroke="#E65907"
                stroke-width="3"
                stroke-miterlimit="10"
                stroke-linecap="square"
              />
              <path
                d="M20 33.3647V31.8963C20 27.2735 24.7116 23.5259 29.3344 23.5259H31.1052"
                stroke="#4DD6CB"
                stroke-width="3"
                stroke-miterlimit="10"
                stroke-linecap="square"
              />
              <path
                d="M8.89478 23.5259V24.6115C8.89478 30.1111 13.618 34.5715 20 34.5715C26.382 34.5715 31.1052 30.1127 31.1052 24.6115V23.5259"
                stroke="#009AFF"
                stroke-width="3"
                stroke-miterlimit="10"
                stroke-linecap="square"
              />
              <path
                d="M30.8708 23.5259H31.1052"
                stroke="#4DD6CB"
                stroke-width="3.33333"
                stroke-miterlimit="10"
                stroke-linecap="square"
              />
              <path
                d="M8.89478 23.5259H9.12918"
                stroke="#E65907"
                stroke-width="3.33333"
                stroke-miterlimit="10"
                stroke-linecap="square"
              />
            </svg>
          </button>
          <div class="tooltip">
            <div class="tooltip__text">
              <p>
                Проекты по созданию и развитию в родных городах
                культурно-досуговых мест
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <ul class="projects__list">
      <li class="projects__item projects__item--big">
        <article class="projects-card">
          <div class="projects-card__top">
            <picture>
              <source srcset="img/projects/1.webp" type="image/webp" />
              <img loading="lazy" src="img/projects/1.jpg" alt="projects" />
            </picture>
          </div>
          <div class="projects-card__body">
            <a class="projects-card__tag" href="#">#ОБРАЗОВАНИЕ</a>
            <h3 class="projects-card__title">
              <a href="#">Грантовый конкурс</a>
            </h3>
            <div class="projects-card__text">
              <p>
                Хотите сделать родной город или село еще лучше? Придумайте и
                запустите свой социальный проект.
              </p>
            </div>
            <div class="projects-card__btns">
              <button class="projects-card__btn btn" type="button">
                подать заявку
              </button>
              <a class="projects-card__btn btn btn--bordered" href="#">
                все проекты
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="projects-card">
          <div class="projects-card__top">
            <picture>
              <source srcset="img/projects/2.webp" type="image/webp" />
              <img loading="lazy" src="img/projects/2.jpg" alt="projects" />
            </picture>
          </div>
          <div class="projects-card__body">
            <a class="projects-card__tag" href="#">#ОБРАЗОВАНИЕ</a>
            <h3 class="projects-card__title">
              <a href="#"> Интеллектуальный турнир «Умножая таланты» </a>
            </h3>
            <div class="projects-card__text">
              <p>
                Старшеклассники и педагоги центра «Сириус» решают бизнес-задачи
                и разрабатывают инновации для нефтегазовой отрасли.
              </p>
            </div>
            <a class="projects-card__btn btn btn--bordered" href="#">
              подробнее
            </a>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="projects-card">
          <div class="projects-card__top">
            <picture>
              <source srcset="img/projects/3.webp" type="image/webp" />
              <img loading="lazy" src="img/projects/3.jpg" alt="projects" />
            </picture>
          </div>
          <div class="projects-card__body">
            <a class="projects-card__tag" href="#">#культура</a>
            <h3 class="projects-card__title">
              <a href="#"> Музыкальная мастерская Юрия Розума </a>
            </h3>
            <div class="projects-card__text">
              <p>
                Развиваем систему музыкального образования в регионах вместе с
                командой маэстро.
              </p>
            </div>
            <a class="projects-card__btn btn btn--bordered" href="#"
              >подробнее</a
            >
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="projects-card">
          <div class="projects-card__top">
            <picture>
              <source srcset="img/projects/4.webp" type="image/webp" />
              <img loading="lazy" src="img/projects/4.jpg" alt="projects" />
            </picture>
          </div>
          <div class="projects-card__body">
            <a class="projects-card__tag" href="#">#городская среда</a>
            <h3 class="projects-card__title">
              <a href="#">Программа поддержки креативного бизнеса «Мастера»</a>
            </h3>
            <div class="projects-card__text">
              <p>
                Лекции и курсы действующих предпринимателей о том, как добиться
                успеха и избежать ошибок в своем деле.
              </p>
            </div>
            <a class="projects-card__btn btn btn--bordered" href="#"
              >подробнее</a
            >
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="projects-card">
          <div class="projects-card__top">
            <picture>
              <source srcset="img/projects/5.webp" type="image/webp" />
              <img loading="lazy" src="img/projects/5.jpg" alt="projects" />
            </picture>
          </div>
          <div class="projects-card__body">
            <a class="projects-card__tag" href="#">#спорт</a>
            <h3 class="projects-card__title">
              <a href="#"> Школа единоборств Александра Шлеменко «Шторм» </a>
            </h3>
            <div class="projects-card__text">
              <p>
                Формируем культуру здорового образа жизни, основанной на
                массовом, детском, любительском и профессиональном спорте.
              </p>
            </div>
            <a class="projects-card__btn btn btn--bordered" href="#">
              подробнее
            </a>
          </div>
        </article>
      </li>
    </ul>

    <a class="projects__btn btn btn--bordered" href="#"> больше проектов </a>
  </div>
</section>
