<section class="quote-slider">
  <div class="container">
    <h2 class="visually-hidden">Цитаты</h2>

    <div class="quote-slider__content">
      <div class="quote-slider__slider swiper">
        <ul class="quote-slider__slides swiper-wrapper">
          <li class="quote-slider__slide swiper-slide">
            <div class="quote-slider__left">
              <div class="quote-slider__img">
                <picture>
                  <source srcset="img/talent-quote/1.webp" type="image/webp" />
                  <img loading="lazy" src="img/talent-quote/1.jpg" alt="qoute" />
                </picture>
              </div>

              <div class="quote-slider__info">
                <span class="quote-slider__name">АЛЕКСАНДР СМИРНОВ</span>
                <span class="quote-slider__prof">Санкт-Петербург</span>
              </div>
            </div>
            <div class="quote-slider__right">
              <blockquote class="quote-slider__text">
                <p>
                  Участие в турнире – это интересный опыт совместной разработки
                  проекта, возможность познакомиться с единомышленниками и
                  поработать на крутом оборудовании. Наш проект был связан с
                  технологиями дополненной реальности – разрабатывали два
                  мини-приложения для клиентов и сотрудников автозаправочной
                  станции. Меня всегда привлекали инженерные специальности. И
                  турнир помог мне в очередной раз убедиться в правильности
                  выбора будущей профессии в сфере программирования и инженерии.
                </p>
              </blockquote>
            </div>
          </li>
          <li class="quote-slider__slide swiper-slide">
            <div class="quote-slider__left">
              <div class="quote-slider__img">
                <picture>
                  <source srcset="img/talent-quote/2.webp" type="image/webp" />
                  <img loading="lazy" src="img/talent-quote/2.jpg" alt="qoute" />
                </picture>
              </div>
              <div class="quote-slider__info">
                <span class="quote-slider__name">МАРК КОВАЛЕНКО</span>
                <span class="quote-slider__prof">Ханты-Мансийск</span>
              </div>
            </div>
            <div class="quote-slider__right">
              <blockquote class="quote-slider__text">
                <p>
                  Турнир для меня – новая платформа,
                  трамплин для развития навыков в сфере
                  новых технологий. Наша команда работала
                  над приложением в сфере дополненной
                  реальности. Мы создали экокарту морской
                  ледостойкой стационарной платформы.
                  Турнир помог определиться с желаемой
                  позицией на будущем месте работы.
                  В команде я уже второй год – тимлид
                  и проджект-менеджер, и мне действительно
                  нравится распределять задачи
                  и контролировать разработку проекта.
                </p>
              </blockquote>
            </div>
          </li>
          <li class="quote-slider__slide swiper-slide">
            <div class="quote-slider__left">
              <div class="quote-slider__img">
                <picture>
                  <source srcset="img/talent-quote/3.webp" type="image/webp" />
                  <img loading="lazy" src="img/talent-quote/3.jpg" alt="qoute" />
                </picture>
              </div>

              <div class="quote-slider__info">
                <span class="quote-slider__name">МАТВЕЙ САМЫЛОВ</span>
                <span class="quote-slider__prof">Пос. Горноправдинск, ХМАО</span>
              </div>
            </div>
            <div class="quote-slider__right">
              <blockquote class="quote-slider__text">
                <p>
                  Я участвовал в турнире, чтобы прокачать
                  свои soft skills и навыки командной работы.
                  Кроме того, мечтаю стать химиком – думаю
                  над поступлением в СанктПетербургский
                  государственный университет
                  или Университет ИТМО. В финале турнира
                  вместе с командой занимался разработкой
                  ингибиторов. В нашем случае это – вещества,
                  замедляющие коррозию металлов,
                  а значит – увеличивающие срок службы
                  нефтепроводов. Меня сильно вдохновила
                  дружеская атмосфера, которая сложилась
                  в коллективе несмотря на то, что мы
                  познакомились всего несколько дней назад.
                </p>
              </blockquote>
            </div>
          </li>
        </ul>
      </div>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
    </div>
  </div>
</section>
