<section class="regulations">
  <div class="container">
    <h2 class="regulations__title">Положение о конкурсе</h2>
    <ul class="regulations__list">
      <li class="regulations__item">
        <a
          class="regulations__link"
          href="./pdf/Меретояханефтегаз_Положение_по_грантовому_конкурсу.pdf"
          target="_blank"
        >
          Меретояханефтегах
        </a>
      </li>
      <li class="regulations__item">
        <a
          class="regulations__link"
          href="./pdf/Заполярье_Положение_по_грантовому_конкурсу.pdf"
          target="_blank"
        >
          Заполярье
        </a>
      </li>
      <li class="regulations__item">
        <a
          class="regulations__link"
          href="./pdf/ХМАО_Положение_по_грантовому_конкурсу.pdf"
          target="_blank"
        >
          ХМАО
        </a>
      </li>
      <li class="regulations__item">
        <a
          class="regulations__link"
          href="./pdf/Ямал_Положение_по_грантовому_конкурсу.pdf"
          target="_blank"
        >
          Ямал
        </a>
      </li>
      <li class="regulations__item">
        <a
          class="regulations__link"
          href="./pdf/Оренбург_Положение_по_грантовому_конкурсу.pdf"
          target="_blank"
        >
          Оренбург
        </a>
      </li>
      <li class="regulations__item">
        <a
          class="regulations__link"
          href="./pdf/Восток_Положение_по_грантовому_конкурсу.pdf"
          target="_blank"
        >
          Восток
        </a>
      </li>
    </ul>
  </div>
</section>
