<section class="section-cols">
  <div class="container">
    <h2 class="section-cols__title">
      Школа – университет – исследовательский центр
    </h2>

    <ul class="section-cols__list">
      <li class="section-cols__item">
        <article class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/mediateka-math/1.webp" type="image/webp" />
                <img loading="lazy" src="img/mediateka-math/1.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__tbody">
            <h3 class="events-card__title">
              <a href="#">Школьники старших классов</a>
            </h3>
            <p class="events-card__text">
              Проходят курсы по математике, информатике и программированию,
              знакомятся с преподавателями СПбГУ и сотрудниками Лаборатории им.
              П. Л. Чебышёва в лагерях в Санкт-Петербурге.
            </p>
          </div>
        </article>
      </li>
      <li class="section-cols__item">
        <article class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/mediateka-math/2.webp" type="image/webp" />
                <img loading="lazy" src="img/mediateka-math/2.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__tbody">
            <h3 class="events-card__title">
              <a href="#">Студенты и аспиранты СПбГУ</a>
            </h3>
            <p class="events-card__text">
              Получают повышенные стипендии и именные премии. Отправляются на
              стажировку в Израиль, Италию, Польшу, Францию и Чехию.
            </p>
          </div>
        </article>
      </li>
      <li class="section-cols__item">
        <article class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/mediateka-math/3.webp" type="image/webp" />
                <img loading="lazy" src="img/mediateka-math/3.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__tbody">
            <h3 class="events-card__title">
              <a href="#">Научные коллективы СПбГУ</a>
            </h3>
            <p class="events-card__text">
              Получают финансирование фундаментальных исследований в области
              матанализа, алгебры, теории вероятностей и математической физики.
              Посвящают себя науке, не беспокоясь о поиске дополнительного
              заработка.
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
