<section class="sports-grid">
  <div class="container">
    <div class="sports-grid__top">
      <h2 class="sports-grid__title">Влюбляем в спорт целый регион</h2>
      <p class="sports-grid__text">
        С 2015 года «Шторм» вырос в гармоничную систему спортивных проектов
      </p>
    </div>

    <ul class="sports-grid__list">
      <li class="sports-grid__item">
        <div class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/sports-grid/1.webp" type="image/webp" />
                <img loading="lazy" src="img/sports-grid/1.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__tbody">
            <h3 class="events-card__title"><a href="#">Кубок Шлеменко</a></h3>
            <p class="events-card__text">
              Крупнейший в России межрегиональный детский турнир по ММА
            </p>
          </div>
        </div>
      </li>
      <li class="sports-grid__item">
        <div class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/sports-grid/2.webp" type="image/webp" />
                <img loading="lazy" src="img/sports-grid/2.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__tbody">
            <h3 class="events-card__title">
              <a href="#">Уличные спортивные площадки</a>
            </h3>
            <p class="events-card__text">
              Жители Омска голосуют и сами выбирают, где именно будет открыта
              площадка
            </p>
          </div>
        </div>
      </li>
      <li class="sports-grid__item">
        <div class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/sports-grid/3.webp" type="image/webp" />
                <img loading="lazy" src="img/sports-grid/3.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__tbody">
            <h3 class="events-card__title"><a href="#">ШтормFest</a></h3>
            <p class="events-card__text">
              Фестиваль здорового образа жизни, на котором ежегодно собирается
              более 30 тысяч гостей
            </p>
          </div>
        </div>
      </li>
      <li class="sports-grid__item">
        <div class="events-card">
          <a class="events-card__top card-animation" href="#">
            <div class="card-animation__overlay"></div>
            <div class="card-animation__content">
              <picture>
                <source srcset="img/sports-grid/4.webp" type="image/webp" />
                <img loading="lazy" src="img/sports-grid/4.jpg" alt="sports" />
              </picture>
            </div>
          </a>
          <div class="events-card__tbody">
            <h3 class="events-card__title"><a href="#">SFC - Промоушен</a></h3>
            <p class="events-card__text">
              Shlemenko Fighting Championship, проведено уже четыре турнира с
              участием международных бойцов
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
