<section class="stages-grant">
  <div class="container">
    <h2 class="stages-grant__title"><span>Этапы</span> грантового конкурса</h2>

    <ul class="stages-grant__list">
      <li class="stages-grant__item">
        <div class="how-participate">
          <h3 class="how-participate__title">Как принять участие</h3>
          <ul class="how-participate__list">
            <li class="how-participate__item">
              <a class="how-participate__link" href="#">
                <span>Пройти обучение</span>
              </a>
              <p class="how-participate__text">
                Онлайн-курс по социальному проектированию для грантополучателей
              </p>
            </li>
            <li class="how-participate__item how-participate__item--links">
              <a
                class="how-participate__link"
                href="./pdf/Меретояханефтегаз_Положение_по_грантовому_конкурсу.pdf"
                target="_blank"
              >
                <span>Подготовиться к подаче заявки</span>
              </a>
              <p class="how-participate__text">
                Читайте методические рекомендации о том, <br />
                как заполнить заявку
              </p>
              <div class="how-participate__links">
                <a class="how-participate__link" href="#" target="_blank">
                  <span>Для физических лиц</span>
                </a>
                <a class="how-participate__link" href="#" target="_blank">
                  <span>Для юридических лиц</span>
                </a>
              </div>
            </li>
            <li class="how-participate__item">
              <a class="how-participate__link" href="#">
                <span>Подать заявку</span>
              </a>
              <p class="how-participate__text">
                Отслеживайте статус заявки в личном <br />
                кабинете
              </p>
            </li>
            <li class="how-participate__item">
              <a class="how-participate__link" href="#">
                <span>Получить грант</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="stages-grant__item">
        <div class="selection-app">
          <h3 class="selection-app__title">Как проходит отбор заявок</h3>
          <ul class="selection-app__list">
            <li class="selection-app__item">
              <span class="selection-app__name">Экспертная оценка</span>
              <p class="selection-app__text">
                Каждую заявку оценивают два эксперта: региональный и федеральный
              </p>
            </li>
            <li class="selection-app__item">
              <span class="selection-app__name"
                >Онлайн голосование жителей регионов</span
              >
              <p class="selection-app__text">
                Все проекты будут опубликованы на платформе и доступны для
                голосования
              </p>
            </li>
            <li class="selection-app__item">
              <span class="selection-app__name">Открытая защита проектов</span>
              <p class="selection-app__text">
                Финалисты конкурса презентуют свой проект экспертам и зрителям
              </p>
            </li>
            <li class="selection-app__item">
              <span class="selection-app__name">
                Заседание грантовых комитетов</span
              >
              <p class="selection-app__text">
                Подведение итогов всех этапов отбора и выбор победителей по всем
                регионам
              </p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
