<section class="adv-storm">
  <div class="container">
    <div class="adv-storm__wrapper">
      <div class="adv-storm__video">
        <div class="card-animation">
          <div class="card-animation__overlay"></div>
          <div class="card-animation__content">
            <!--  muted -->

            <video
              class="video__img video-js vjs-big-play-centered"
              id="videoPlayer"
              preload="none"
              loop="1"
              poster="img/adv-storm-poster.jpg"
              data-setup="{}"
              controls
              muted
              autoplay="autoplay"
            >
              <source src="video.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>

      <h2 class="adv-storm__title">
        Превращаем локальные проекты в национальные бренды
      </h2>
      <div class="adv-storm__text">
        <p>
          7 лет назад мы поддержали идею легендарного бойца смешанных
          единоборств Александра Шлеменко о создании школы ММА в Омске. Сегодня
          школа «Шторм» – это бренд, известный не только в Омске, но и по всей
          стране. Филиалы «Шторма» открыты в Новосибирске, Красноярске, Кургане,
          Петропавловске- Камчатском, Ачинске, Тюмени и Абакане.
        </p>
      </div>

      <ul class="adv-storm__list">
        <li class="adv-storm__item">
          <span class="adv-storm__number">3000+</span>
          <span class="adv-storm__small">учеников</span>
        </li>
        <li class="adv-storm__item">
          <span class="adv-storm__number">13</span>
          <span class="adv-storm__small">филиалов</span>
        </li>
        <li class="adv-storm__item">
          <span class="adv-storm__number">8</span>
          <span class="adv-storm__small">регионов</span>
        </li>
      </ul>
    </div>
  </div>
</section>
