<section class="section-descr section-descr--bg section-descr--talents-reverse">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">
        Знакомим <br />
        с профессионалами
      </h2>
      <div class="section-descr__text">
        <p>
          Чтобы разработать собственный проект и победить, участники проходят
          тренинги от преподавателей ведущих технических вузов и узнают о работе
          с большими данными, дополненной реальности и робототехнике, а ещё
          прокачивают коммуникабельность, лидерские способности и навыки
          публичных выступлений.
        </p>
      </div>
      <div class="section-descr__img card-animation">
        <div
          class="card-animation__overlay card-animation__overlay--right"
        ></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-talents/12.webp" type="image/webp" />
            <img loading="lazy" src="img/mediateka-talents/12.jpg" alt="media" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
