<section class="adv-storm adv-storm--w-full adv-storm--talents">
  <div class="container">
    <div class="adv-storm__wrapper">
      <div class="adv-storm__video">
        <div class="card-animation">
          <div class="card-animation__overlay"></div>
          <div class="card-animation__content">
            <!--  muted -->

            <video
              class="video__img video-js vjs-big-play-centered"
              id="videoPlayer"
              preload="none"
              loop="1"
              poster="img/talents-poster.jpg"
              data-setup="{}"
              controls
              muted
              autoplay="autoplay"
            >
              <source src="video.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>

      <h2 class="adv-storm__title">
        Поддерживаем тех, <br />
        кто без ума от науки
      </h2>
      <div class="adv-storm__text">
        <p>
          С 2015 года мы проводим неклассическую олимпиаду для учеников 8-11
          классов. Участники в течение двух месяцев решают задания, посещают
          онлайн лекции и мастер-классы. Те, кто проходит в финал турнира,
          индивидуально или в командах защищают свой проект.
        </p>
        <p>
          Принять участие в турнире могут школьники из Москвы, Санкт-Петербурга,
          Омской, Тюменской, Томской и Оренбургской областей, ХМАО и ЯНАО.
          Подробную информацию о конкурсе читайте в
          <a
            class="adv-storm__link"
            href="pdf/Положение_Турнир_Умножая_таланты_2023.pdf"
            target="_blank"
          >
            <span>Положении</span>

            <svg
              width="11"
              height="11"
              viewBox="0 0 11 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.27778 1.83333V3.05556H1.22222V9.77778H7.94444V6.72222H9.16667V10.3889C9.16667 10.551 9.10228 10.7064 8.98768 10.821C8.87307 10.9356 8.71763 11 8.55556 11H0.611111C0.449034 11 0.293596 10.9356 0.17899 10.821C0.0643847 10.7064 0 10.551 0 10.3889V2.44444C0 2.28237 0.0643847 2.12693 0.17899 2.01232C0.293596 1.89772 0.449034 1.83333 0.611111 1.83333H4.27778ZM11 0V4.88889H9.77778V2.08572L5.01539 6.84872L4.15128 5.98461L8.91305 1.22222H6.11111V0H11Z"
                fill="black"
              />
            </svg>
          </a>
        </p>
      </div>

      <ul class="adv-storm__list">
        <li class="adv-storm__item">
          <span class="adv-storm__number">15 000+</span>
          <span class="adv-storm__small">участников</span>
        </li>
        <li class="adv-storm__item">
          <span class="adv-storm__number">6</span>
          <span class="adv-storm__small">вузов-партнёров</span>
        </li>
        <li class="adv-storm__item">
          <span class="adv-storm__number">4</span>
          <span class="adv-storm__small">направления</span>
        </li>
      </ul>
    </div>
  </div>
</section>
