<section class="section-descr section-descr--bg">
  <div class="container">
    <div class="section-descr__wrapper">
      <h2 class="section-descr__title">Помогаем изобретателям</h2>
      <div class="section-descr__text section-descr__text--narval">
        <p>
          В разное время в финале за первое место боролись арктический
          робот-вездеход, AR-карта морской ледостойкой платформы, где
          отображаются параметры для контроля уровня метана и других
          показателей, VR-симулятор внештатных ситуаций для обучения сотрудников
          АЗС и ингибиторы, замедляющие коррозию металлов.
        </p>
        <p>
          Победили и призеры получают дополнительно 10 баллов при поступлении в:
          Университет ИТМО, Санкт-Петербургский государственный университет,
          Санкт-Петербургский Политехнический Университет Петра Великого,
          Тюменский государственный университет, Томский политехнический
          университет и Омский Государственный Технический Университет.
        </p>
      </div>
      <div class="section-descr__img card-animation">
        <div
          class="card-animation__overlay card-animation__overlay--right"
        ></div>
        <div class="card-animation__content">
          <picture>
            <source srcset="img/mediateka-talents/11.webp" type="image/webp" />
            <img loading="lazy" src="img/mediateka-talents/11.jpg" alt="media" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
