<section class="ticker">
  <div class="container">
    <h2 class="visually-hidden">Бегущая строка</h2>
    <div class="ticker__slider swiper">
      <ul class="ticker__slides swiper-wrapper">
        <li class="ticker__slide swiper-slide">
          <a class="ticker__link orange" href="#"
            ># ПОДДЕРЖКА МЕСТНЫХ СООБЩЕСТВ</a
          >
        </li>
        <li class="ticker__slide swiper-slide">
          <a class="ticker__link green" href="#"> # ОБРАЗОВАНИЕ</a>
        </li>
        <li class="ticker__slide swiper-slide">
          <a class="ticker__link blue" href="#"># КУЛЬТУРА</a>
        </li>
        <li class="ticker__slide swiper-slide">
          <a class="ticker__link dark-blue" href="#"># СПОРТ</a>
        </li>
        <li class="ticker__slide swiper-slide">
          <a class="ticker__link purple" href="#"># СРЕДА ДЛЯ ЖИЗНИ</a>
        </li>
        <li class="ticker__slide swiper-slide">
          <a class="ticker__link orange" href="#"># СОХРАНЕНИЕ</a>
        </li>
        <li class="ticker__slide swiper-slide">
          <a class="ticker__link green" href="#"># СОХРАНЕНИЕ</a>
        </li>
        <li class="ticker__slide swiper-slide">
          <a class="ticker__link blue" href="#"># СОХРАНЕНИЕ</a>
        </li>
      </ul>
    </div>
  </div>
</section>
